<!DOCTYPE html>
<html lang="jp"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="通貨登録"></title>
  <script src="/js/common.js" type="text/javascript"></script>
</head>
<body>
<h3>通貨登録</h3>
<form id="confirm" th:object="${currencyListForm}"
      th:action="@{'/currency/list'}" method="POST">
  <table>
    <tbody>
      <tr>
        <th><label for="currencyName">通貨名</label></th>
        <td class="require">*</td>
        <td>
          <input id="currencyName" name="currencyName" type="text" />
          <span th:if="${#fields.hasErrors('currencyName')} ? 'has-error'"
                th:errors="*{currencyName}" style="color:red">通貨名は必須です。</span>
        </td>
      </tr>
    </tbody>
  </table>
</form>
<form id="list" th:action="@{'/currency'}" th:object="${currencyListForm}" method="get">
</form>
<div>
  <button onclick="location.href='/top'">メニュー画面</button>
  <button form="list"> 通貨一覧画面</button>
  <button form="confirm" type="submit">登　録</button>
</div>

</body>
</html>
