<!DOCTYPE html>
<html lang="jp"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="通貨編集"></title>
  <script src="/js/common.js"></script>
</head>
<body>
<h3>通貨編集</h3>
<form id="confirm"
      method="POST"
      th:action="@{'/currency/__*{currencyId}__/confirm'}" th:object="${currncyList}">
  <table>
    <tbody>
      <tr>
          <th>通貨名</th>
        <td class="require">*</td>
        <td>
            <input name="currencyId" th:field="*{currencyId}" type="hidden"/>
            <input th:field="*{currencyName}" type="text"/>
            <span style="color:red"
                  th:errors="${currency.currencyName}"
                  th:if="${#fields.hasErrors('currencyName')}">通貨名は必須です。</span>
        </td>
      </tr>
    </tbody>
  </table>
</form>
<form id="list" method="GET" th:action="@{'/currency'}">
</form>
<div>
  <button onclick="location.href='/top'">メニュー画面</button>
  <button form="list"> 通貨一覧画面</button>
  <button form="confirm" type="submit">登　録</button>
</div>

</body>
</html>
