<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>通貨検索</title>
    <link href="/css/common.css" rel="stylesheet">
</head>
<body>
通貨一覧

<table>
    <tr th:each="currncy : ${currencies}">
        <td>
            <form id="edit"
                  method="GET"
                  th:action="@{'/currency/__${currncy.currencyId}__/edit'}"
                  th:object="${currency}">

                <input class="currency-id" th:value="${currncy.currencyId}" type="hidden"/>
                <label>
                    <input class="currency-name" th:value="${currncy.currencyName}" type="text"/>
                </label>
                <input type="submit" value="編　集"/>
            </form>
        </td>
    </tr>
</table>
<form id="add" th:action="@{'/currency/add'}"
      method="GET" th:object="${currency}">
</form>
<div>
    <button onclick="location.href='/top'">メニュー画面</button>
    <button form="add" type="submit">追　加</button>
</div>

</body>
</html>
