<!DOCTYPE html>
<html lang="jp"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="ユーザ編集"></title>
    <script src="/js/populate.js"></script>
</head>
<body>
<h3>ユーザ編集</h3>
<form>
    <table>
        <tbody>
        <tr>
            <th><label for="userId" aria-label="A number of unique user id">ID</label></th>
            <td><input id="userId" name="userId"
                       th:value="${user.userId}" readonly=""/>
            </td>
        </tr>
        <tr>
            <th><label for="nickName">ニックネーム</label></th>
            <td><input id="nickName" name="nickName"
                       th:value="${user.nickName}" type="text"
                        autocomplete="username"/>
            </td>
        </tr>
        <tr>
            <th><label for="lastName">姓</label></th>
            <td><input id="lastName" name="lastName"
                       th:value="${user.lastName}" type="text"/>
            </td>
        </tr>
        <tr>
            <th><label for="firstName">名</label></th>
            <td><input id="firstName" name="firstName"
                       th:value="${user.firstName}" type="text"/>
            </td>
        </tr>
        <tr>
            <th><label for="password">パスワード</label></th>
            <td><input id="password" name="password"
                       th:value="${user.password}" type="text"/>
            </td>
        </tr>
        <tr>
            <th><label for="email">email</label></th>
            <td><input id="email" name="email"
                       th:value="${user.email}" type="text"
                        autocomplete="email"/>
            </td>
        </tr>
        <tr>
            <th><label for="yearSelect" aria-label="Year and Month, Date of birthday fields">生年月日</label></th>
            <td>
                <div>
                    <span>
                        <select id="yearSelect" name="yearSelect"
                                onmouseleave="populateDays()"></select>
                        <label for="yearSelect">年</label>
                        <script>
                            populateYears();
                        </script>
                    </span>
                    <span>
                        <select id="monthSelect" name="monthSelect"
                                onmouseleave="populateDays()">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                        <label for="monthSelect">月</label>
                    </span>
                    <span>
                        <select id="dateSelect" name="dateSelect"
                                onmouseenter="populateDays()">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                        </select>
                        <label for="dateSelect">日</label>
                    </span>
                </div>
            </td>
        </tr>
        <tr>
            <th><label for="phoneNumber">電話番号</label></th>
            <td><input id="phoneNumber" name="phoneNumber"
                       th:value="${user.phoneNumber}" type="text"/>
            </td>
        </tr>
        <tr>
            <th><label for="roleName">ロール</label></th>
            <td><input id="roleName" name="roleName"
                       th:value="${user.roleName}" type="text"/>
            </td>
        </tr>
        <tr>
            <th>登録日</th>
            <td th:text="${user.entryDate}"></td>
        </tr>
        <tr>
            <th>変更日</th>
            <td th:text="${user.updateDate}"></td>
        </tr>
        <tr>
            <th></th>
            <td>
                <button type="submit">登　録</button>
            </td>
        </tr>
        </tbody>
    </table>

    <input id="hdnBirthday" th:value="${user.birthday}" type="hidden"/>
    <input id="hdnCanProcDate" th:value="true" type="hidden"/>
</form>

<script src="/js/common.js"></script>
<script src="/js/editUser.js"></script>
</body>
</html>