<!DOCTYPE html>
<html lang="jp"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="ユーザ詳細"></title>
  <script src="/js/user.js" type="text/javascript"></script>
</head>
<body>
<h3>ユーザ詳細</h3>
<form id="userEdit" method="post"
      th:action="@{'/users/__${userForm.id}__/edit'}" th:object="${userForm}">
  <table>
    <tbody>
    <tr>
      <th>ID</th>
      <td>
        <div id="id" th:text="${userForm.id}"></div>
      </td>
    </tr>
    <tr>
      <th>ユーザ名</th>
      <td>
        <div id="userName" th:text="${userForm.username}"></div>
      </td>
    </tr>
    <tr>
      <th>姓</th>
      <td>
        <div id="lastName" th:text="${userForm.usersExtForm.lastName}"></div>
      </td>
    </tr>
    <tr>
      <th>名</th>
      <td>
        <div id="firstName" th:text="${userForm.usersExtForm.firstName}"></div>
      </td>
    </tr>
    <tr>
      <th>パスワード</th>
      <td>
        <div id="password" th:text="${userForm.password}"></div>
      </td>
    </tr>
    <tr>
      <th>e-mail</th>
      <td>
        <div id="email" th:text="${userForm.usersExtForm.email}"></div>
      </td>
    </tr>
    <tr>
      <th>生年月日</th>
      <td>
        <div id="birthDay" th:text="${userForm.usersExtForm.birthDay}"></div>
      </td>
    </tr>
    <tr>
      <th>電話番号</th>
      <td>
        <div id="phoneNumber" th:text="${userForm.usersExtForm.phoneNumber}"></div>
      </td>
    </tr>
    <tr>
      <th>権限</th>
      <td>
        <div id="roleName" th:text="${userForm.authoritiesForm.authority}"></div>
      </td>
    </tr>
    <tr>
      <th>登録日</th>
      <td>
        <div id="entryDate" th:text="${userForm.usersExtForm.entryDate}"></div>
      </td>
    </tr>
    <tr>
      <th>変更日</th>
      <td>
        <div id="updateDate" th:text="${userForm.usersExtForm.updateDate}"></div>
      </td>
    </tr>
    </tbody>
  </table>
</form>
<form id="list" method="GET" th:action="@{'/users'}">
</form>
<div>
  <input onclick="location.href='/top'" type="submit" value="メニュー画面"/>
  <input form="list" type="submit" value="ユーザ・一覧画面"/>
  <input form="userEdit" type="submit" value="編　集"/>
</div>

</body>
</html>
