<!DOCTYPE html>
<html lang="jp"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="ユーザ一覧"></title>
  <script th:src="@{/js/users.js}"></script>
</head>
<body>
<h3>ユーザ一覧</h3>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>ユーザ名</th>
    <th>権限</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody th:each="userForm: ${userForms}">
  <tr>
    <th>
      <span th:text="${userForm.id}"></span>
    </th>
    <td><span th:text="${userForm.username}"></span></td>
    <td><span th:text="${userForm.authoritiesForm.getAuthority()}"></span></td>
    <td>
        <form id="userInfo"
              th:action="@{'/users/__${userForm.id}__/show'}"
              method="get">
          <input id="id" th:value="${userForm.id}" type="hidden">
          <input type="submit" value="詳　細"/>
        </form>
    </td>
  </tr>
  </tbody>
</table>
<div>
  <button onclick="location.href='/top'">メニュー画面</button>
  <button onclick="location.href='/user/create'">新規ユーザ・登　録</button>
</div>
</body>
</html>
