<!DOCTYPE html>
<html lang="jp"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="ユーザ一覧"></title>
  <script th:src="@{/js/User.js}"></script>
</head>
<body>
<h3>ユーザ一覧</h3>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>ニックネーム</th>
    <th>権限</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody th:each="user: ${users}">
  <tr>
    <th>
      <span th:text="${user.userId}"></span>
    </th>
    <td><span th:text="${user.nickName}"></span></td>
    <td><span th:text="${user.role.getRoleName()}"></span></td>
    <td>
        <form id="userInfo" method="get" th:action="@{'/user/__${user.userId}__/show'}">
        <input id="userId" th:value="${user.userId}" type="hidden">
        <input type="submit" value="詳　細"/>
      </form>
    </td>
  </tr>
  </tbody>
</table>
<div>
  <button onclick="location.href='/top'">トップ画面</button>
  <button onclick="location.href='/user/create'">新規ユーザ・登　録</button>
</div>
</body>
</html>
