<!DOCTYPE html>
<html lang="jp"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="ユーザ編集"></title>
  <script src="/js/common.js" type="text/javascript"></script>
  <script src="/js/users.js" type="text/javascript"></script>
</head>
<body>
<h3>ユーザ編集</h3>
<form id="confirm" th:object="${usersForm}"
      th:action="@{/users/__${usersForm.userId}__/confirm}" method="POST">
  <table>
    <tbody>
    <tr>
      <th><label for="userId" aria-label="A number of unique user id">ID</label></th>
      <td></td>
      <td>
        <input id="userId" name="userId"
               readonly th:value="${usersForm.userId}"/>
      </td>
    </tr>
    <tr>
      <th><label for="username">ユーザ名</label></th>
      <td class="require">*</td>
      <td>
        <input id="username" name="username"
               th:value="${usersForm.username}" type="text"
               autocomplete="username"/>
        <span th:if="${#fields.hasErrors('username')}"
              th:errors="*{username}" style="color:red">ユーザ名は必須です。</span>
      </td>
    </tr>
    <tr>
      <th><label for="lastName">姓</label></th>
      <td></td>
      <td><input id="lastName" name="lastName"
                 th:value="${usersForm.usersExtForm.lastName}" type="text"/>
      </td>
    </tr>
    <tr>
      <th><label for="firstName">名</label></th>
      <td></td>
      <td><input id="firstName" name="firstName"
                 th:value="${usersForm.usersExtForm.firstName}" type="text"/>
      </td>
    </tr>
    <tr>
      <th><label for="password">パスワード</label></th>
      <td class="require">*</td>
      <td>
        <input id="password" name="password"
               th:value="${usersForm.password}" type="text"/>
        <span th:if="${#fields.hasErrors('password')}"
              th:errors="*{password}" style="color:red">パスワードは必須です。</span>
      </td>
    </tr>
    <tr>
      <th><label for="email">email</label></th>
      <td class="require">*</td>
      <td>
        <input id="email" name="email"
               th:value="${usersForm.usersExtForm.email}" type="text"
               autocomplete="email"/>
        <span th:if="${#fields.hasErrors('usersExtForm.email')}"
              th:errors="*{usersExtForm.email}" style="color:red">Emailは必須です。</span>
      </td>
    </tr>
    <tr>
      <th><label aria-label="Year and Month, Date of birthDay fields" for="yearSelect">生年月日</label></th>
      <td>*</td>
      <td>
        <div id="yyyymmdd">
          <span>
            <select id="yearSelect" name="yearSelect" onchange="setToBirthDayField()"></select>
            <label for="yearSelect">年</label>
          </span>
          <span>
            <select id="monthSelect" name="monthSelect" onchange="setToBirthDayField()">
              <option value="01">01</option>
              <option value="02">02</option>
              <option value="03">03</option>
              <option value="04">04</option>
              <option value="05">05</option>
              <option value="06">06</option>
              <option value="07">07</option>
              <option value="08">08</option>
              <option value="09">09</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>
            <label for="monthSelect">月</label>
          </span>
          <span>
            <select id="dateSelect" name="dateSelect" onchange="setToBirthDayField()">
              <option value="01">01</option>
              <option value="02">02</option>
              <option value="03">03</option>
              <option value="04">04</option>
              <option value="05">05</option>
              <option value="06">06</option>
              <option value="07">07</option>
              <option value="08">08</option>
              <option value="09">09</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
              <option value="31">31</option>
            </select>
            <label for="dateSelect">日</label>
          </span>
          <span>
            <label aria-label="A date of birthDay" for="birthDay"></label>
            <input id="birthDay" name="birthDay"
                   th:value="*{usersExtForm.birthDay}"
                   type="hidden"/>
          </span>
        </div>
      </td>
    </tr>
    <tr>
      <th><label for="phoneNumber">電話番号</label></th>
      <td class="require">*</td>
      <td>
        <input id="phoneNumber" name="phoneNumber"
               th:value="${usersForm.usersExtForm.phoneNumber}" type="text"/>
        <span th:if="${#fields.hasErrors('usersExtForm.phoneNumber')}"
              th:errors="*{usersExtForm.phoneNumber}" style="color:red">電話番号は必須です。</span>
      </td>
    </tr>
    <tr>
      <th><label for="authority">権限</label></th>
      <td class="require">*</td>
      <td>
        <select id="authority" name="authoritiesForm.authority"
                th:field="${usersForm.authoritiesForm.authority}">
          <option th:each="item : ${authorityList}"
                  th:value="${item}"
                  th:text="${item}"
                  th:selected="${item} == ${usersForm.authoritiesForm.authority}"></option>
        </select>
      </td>
    </tr>
    <tr>
      <th>登録日</th>
      <td></td>
      <td>
        <div>
          <label aria-label="A date of update" for="entryDate"></label>
          <input id="entryDate" name="entryDate"
                 th:value="${usersForm.usersExtForm.entryDate}"
                 readonly />
        </div>
      </td>
    </tr>
    <tr>
      <th>変更日</th>
      <td></td>
      <td>
        <div>
          <label for="updateDate" aria-label="A date of update"></label>
          <input id="updateDate" name="updateDate"
                 th:value="${usersForm.usersExtForm.updateDate}"
                 readonly />
        </div>
      </td>
    </tr>
    </tbody>
  </table>

  <script>setToYYYYMMDDField()</script>
  <script>setToBirthDayField()</script>
  <input id="canProcDate" th:value="true" type="hidden"/>
</form>
<form id="list" th:action="@{'/users'}" th:object="${usersForm}" method="get">
</form>
<div>
  <input onclick="location.href='/top'" type="submit" value="メニュー画面"/>
  <input form="list" type="submit" value="ユーザ・一覧画面"/>
  <button form="confirm" type="submit">登　録</button>
</div>

</body>
</html>
