.shop-button {
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.account-source-button {
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.account-destination-button {
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.currency-id {
    width: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.currency-name {
    width: 64px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.spec-header {
    text-align: center;
    border: 1px solid #aaaaaa;
    background-color: #d0d0ff;
    margin-top: 1px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 0.7fr 1fr 0.7fr repeat(2, 0.7fr) 1fr 1.2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
            "brand-name brand-name brand-name brand-name brand-name brand-name brand-name brand-name save delete"
            "price currency-name quantity unit-name tax-type-name tax-rate tax subtotal save delete"
            "spec-memo spec-memo spec-memo spec-memo spec-memo spec-memo spec-memo spec-memo save delete";
    width: 620px;
    height: 76px;
}

.brand-name {
    grid-area: brand-name;
    width: 617px;
    margin-top: 0px;
    margin-left: 2px;
    margin-right: 4px;
    margin-bottom: 0px;

}

.price {
    grid-area: price;
    width: 90px;
    margin-top: 0px;
    margin-left: 2px;
    margin-right: 4px;
    margin-bottom: 0px;
}

.currency-name-header {
    grid-area: currency-name-header;
    width: 54px;
    margin-top: 0px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 0px;
}

.currency-name {
    grid-area: currency-name;
    width: 54px;
    margin-top: 0px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 0px;
}

.quantity {
    grid-area: quantity;
    width: 56px;
    margin-top: 0px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 0px;
}

.unit-name-header {
    grid-area: unit-name-header;
    width: 53px;
    margin-top: 0px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 0px;
}

.unit-name {
    grid-area: unit-name;
    width: 53px;
    margin-top: 0px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 0px;
}

.tax-type {
    grid-area: tax-type-name;
    width: 56px;
    margin-top: 0px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 0px;
}

.tax-rate {
    grid-area: tax-rate;
    width: 56px;
    margin-top: 0px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 0px;
}

.tax-header {
    grid-area: tax;
    width: 79px;
    margin-top: 0px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 0px;
}

.tax {
    grid-area: tax;
    width: 80px;
    margin-top: 0px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 0px;
}

.subtotal {
    grid-area: subtotal;
    width: 114px;
    margin-top: 0px;
    margin-left: 4px;
    margin-right: 2px;
    margin-bottom: 0px;
}

.spec-memo {
    grid-area: spec-memo;
    width: 617px;
    margin-top: 0px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 0px;
}

.save {
    grid-area: save;
    writing-mode: vertical-rl;
    width: 36px;
    height: 72px;
    margin-top: 2px;
    margin-left: 12px;
    margin-right: 2px;
    margin-bottom: 2px;
}

.delete {
    grid-area: delete;
    writing-mode: vertical-rl;
    width: 36px;
    height: 60px;
    margin-top: 30px;
    margin-left: 6px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.edit {
    grid-area: edit;
    writing-mode: vertical-rl;
    width: 36px;
    height: 60px;
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 2px;
    margin-bottom: 0px;
}
