.top-li-container {
    margin: 10px auto;
    width: 500px;
    border: 2px solid #888888;
}

/*border: 2px solid #000000;*/

.login-tbl {
    table-layout: fixed;
    width: 500px;
    min-width: 500px;
    max-width: 500px;
    border-collapse: collapse;
    border: 2px solid #888888;
}

.login-tbl th, td {
    width: 500px;
}

.login-tbl .margin {
    font-size: 5px;
}