<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>口座検索</title>
    <script src="/js/common.js"></script>
</head>
<body>
口座名
<table th:object="${accounts}">
    <tr th:each="accountSource : ${accounts}">
        <td>
            <form enctype="multipart/form-data"
                  method="post"
                  th:action="@{'/setAccountSource'}">
                <label for="accountSourceId"></label>
                <input id="accountSourceId" name="accountSourceId"
                       th:value="${accountSource.accountId}"
                       type="text">
                <label for="accountSourceName"></label>
                <input id="accountSourceName" name="accountSourceName"
                       th:value="${accountSource.accountName}"
                       type="text">
                <button type="submit" onclick="transitionCreateGroup()">[[${accountSource.accountName}]]</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>