<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>口座検索</title>
    <link href="/css/common.css" rel="stylesheet">
</head>
<body>
口座名

<table>
    <tr th:each="accountSource : ${accountSources}">
        <td>
            <th:block th:if="${shopForm} ne null">
                <th:block th:if="${accountSource.accountSourceId} ne null">
                    <th:block th:if="${accountDestinationId} eq null">
                        <form th:action="@{
                            '/__${specificationGroupId}__' +
                            '/__${id}__' +
                            '/__${accountAndBalanceId}__' +
                            '/__${shopId}__' +
                            '/__${balanceTypeForm.balanceTypeId}__' +
                            '/__${accountSource.accountSourceId}__' +
                            '/1' +
                            '/setAccountSource'}"
                              th:object="${accountSource}" method="get">
                            <label for="accountSourceId"></label>
                            <input id="accountSourceId"
                                   th:value="${accountSource.accountSourceId}"
                                   type="hidden">
                            <th:block th:if="${#strings.length('__${accountSource.branchName}__')} > 0">
                                <input class="account-source-button"
                                       th:value="'__${accountSource.accountName}__ (__${accountSource.branchName}__)'"
                                       type="submit"/>
                            </th:block>
                            <th:block th:unless="${#strings.length('__${accountSource.branchName}__')} > 0">
                                <input class="account-source-button"
                                       th:value="'__${accountSource.accountName}__'"
                                       type="submit"/>
                            </th:block>
                        </form>
                    </th:block>
                    <th:block th:unless="${accountDestinationForm} eq null">
                        <form th:action="@{
                            '/__${specificationGroupId}__' +
                            '/__${id}__' +
                            '/__${accountAndBalanceId}__' +
                            '/__${shopId}__' +
                            '/__${balanceTypeForm.balanceTypeId}__' +
                            '/__${accountSource.accountSourceId}__' +
                            '/__${accountDestinationId}__' +
                            '/setAccountSource'}"
                              th:object="${accountSource}" method="get">
                            <label for="accountSourceId"></label>
                            <input id="accountSourceId"
                                   th:value="${accountSource.accountSourceId}"
                                   type="hidden">
                            <th:block th:if="${#strings.length('__${accountSource.branchName}__')} > 0">
                                <input class="account-source-button"
                                       th:value="'__${accountSource.accountName}__ (__${accountSource.branchName}__)'"
                                       type="submit"/>
                            </th:block>
                            <th:block th:unless="${#strings.length('__${accountSource.branchName}__')} > 0">
                                <input class="account-source-button"
                                       th:value="'__${accountSource.accountName}__'"
                                       type="submit"/>
                            </th:block>
                        </form>
                    </th:block>
                </th:block>
                <th:block th:unless="${accountSource.accountSourceId} ne null">
                    <th:block th:if="${accountDestinationForm} ne null">
                        <form th:action="@{
                            '/__${specificationGroupId}__' +
                            '/__${id}__' +
                            '/__${accountAndBalanceId}__' +
                            '/__${shopForm.shopId}__' +
                            '/__${balanceTypeForm.balanceTypeId}__' +
                            '/1' +
                            '/__${accountDestinationId}__' +
                            '/setAccountSource'}"
                              th:object="${accountSource}" method="get">
                            <label for="accountSourceId"></label>
                            <input id="accountSourceId" name="accountSourceId"
                                   th:value="1"
                                   type="hidden">
                            <th:block th:if="${#strings.length('__${accountSource.branchName}__')} > 0">
                                <input class="account-source-button"
                                       th:value="'__${accountSource.accountName}__ (__${accountSource.branchName}__)'"
                                       type="submit"/>
                            </th:block>
                            <th:block th:unless="${#strings.length('__${accountSource.branchName}__')} > 0">
                                <input class="account-source-button"
                                       th:value="'__${accountSource.accountName}__'"
                                       type="submit"/>
                            </th:block>
                        </form>
                    </th:block>
                    <th:block th:unless="${accountDestinationId} ne null">
                        <form th:action="@{
                            '/__${specificationGroupId}__' +
                            '/__${id}__' +
                            '/__${accountAndBalanceId}__' +
                            '/__${shopForm.shopId}__' +
                            '/__${balanceTypeForm.balanceTypeId}__' +
                            '/1' +
                            '/1' +
                            '/setAccountSource'}"
                              th:object="${accountSource}" method="get">
                            <label for="accountSourceId"></label>
                            <input id="accountSourceId" name="accountSourceId"
                                   th:value="1"
                                   type="hidden">
                            <th:block th:if="${#strings.length('__${accountSource.branchName}__')} > 0">
                                <input class="account-source-button"
                                       th:value="'__${accountSource.accountName}__ (__${accountSource.branchName}__)'"
                                       type="submit"/>
                            </th:block>
                            <th:block th:unless="${#strings.length('__${accountSource.branchName}__')} > 0">
                                <input class="account-source-button"
                                       th:value="'__${accountSource.accountName}__'"
                                       type="submit"/>
                            </th:block>
                        </form>
                    </th:block>
                </th:block>
            </th:block>
            <th:block th:unless="${shopForm} ne null">
                <th:block th:if="${accountSource.accountSourceId} ne null">
                    <th:block th:if="${accountDestinationId} eq null">
                        <form th:action="@{
                            '/__${specificationGroupId}__' +
                            '/__${id}__' +
                            '/__${accountAndBalanceId}__' +
                            '/1' +
                            '/__${balanceTypeForm.balanceTypeId}__' +
                            '/__${accountSource.accountSourceId}__' +
                            '/1' +
                            '/setAccountSource'}"
                              th:object="${accountSource}" method="get">
                            <label for="accountSourceId"></label>
                            <input id="accountSourceId"
                                   th:value="${accountSource.accountSourceId}"
                                   type="hidden">
                            <th:block th:if="${#strings.length('__${accountSource.branchName}__')} > 0">
                                <input class="account-source-button"
                                       th:value="'__${accountSource.accountName}__ (__${accountSource.branchName}__)'"
                                       type="submit"/>
                            </th:block>
                            <th:block th:unless="${#strings.length('__${accountSource.branchName}__')} > 0">
                                <input class="account-source-button"
                                       th:value="'__${accountSource.accountName}__'"
                                       type="submit"/>
                            </th:block>
                        </form>
                    </th:block>
                    <th:block th:unless="${accountDestinationForm} eq null">
                        <form th:action="@{
                            '/__${specificationGroupId}__' +
                            '/__${id}__' +
                            '/__${accountAndBalanceId}__' +
                            '/1' +
                            '/__${balanceTypeForm.balanceTypeId}__' +
                            '/__${accountSource.accountSourceId}__' +
                            '/__${accountDestinationId}__' +
                            '/setAccountSource'}"
                              th:object="${accountSource}" method="get">
                            <label for="accountSourceId"></label>
                            <input id="accountSourceId"
                                   th:value="${accountSource.accountSourceId}"
                                   type="hidden">
                            <th:block th:if="${#strings.length('__${accountSource.branchName}__')} > 0">
                                <input class="account-source-button"
                                       th:value="'__${accountSource.accountName}__ (__${accountSource.branchName}__)'"
                                       type="submit"/>
                            </th:block>
                            <th:block th:unless="${#strings.length('__${accountSource.branchName}__')} > 0">
                                <input class="account-source-button"
                                       th:value="'__${accountSource.accountName}__'"
                                       type="submit"/>
                            </th:block>
                        </form>
                    </th:block>
                </th:block>
                <th:block th:unless="${accountSource.accountSourceId} ne null">
                    <th:block th:if="${accountDestinationForm} ne null">
                        <form th:action="@{
                            '/__${specificationGroupId}__' +
                            '/__${id}__' +
                            '/__${accountAndBalanceId}__' +
                            '/1' +
                            '/__${balanceTypeForm.balanceTypeId}__' +
                            '/1' +
                            '/__${accountDestinationId}__' +
                            '/setAccountSource'}"
                              th:object="${accountSource}" method="get">
                            <label for="accountSourceId"></label>
                            <input id="accountSourceId" name="accountSourceId"
                                   th:value="1"
                                   type="hidden">
                            <th:block th:if="${#strings.length('__${accountSource.branchName}__')} > 0">
                                <input class="account-source-button"
                                       th:value="'__${accountSource.accountName}__ (__${accountSource.branchName}__)'"
                                       type="submit"/>
                            </th:block>
                            <th:block th:unless="${#strings.length('__${accountSource.branchName}__')} > 0">
                                <input class="account-source-button"
                                       th:value="'__${accountSource.accountName}__'"
                                       type="submit"/>
                            </th:block>
                        </form>
                    </th:block>
                    <th:block th:unless="${accountDestinationId} ne null">
                        <form th:action="@{
                            '/__${specificationGroupId}__' +
                            '/__${id}__' +
                            '/__${accountAndBalanceId}__' +
                            '/1' +
                            '/__${balanceTypeForm.balanceTypeId}__' +
                            '/1' +
                            '/1' +
                            '/setAccountSource'}"
                              th:object="${accountSource}" method="get">
                            <label for="accountSourceId"></label>
                            <input id="accountSourceId" name="accountSourceId"
                                   th:value="1"
                                   type="hidden">
                            <th:block th:if="${#strings.length('__${accountSource.branchName}__')} > 0">
                                <input class="account-source-button"
                                       th:value="'__${accountSource.accountName}__ (__${accountSource.branchName}__)'"
                                       type="submit"/>
                            </th:block>
                            <th:block th:unless="${#strings.length('__${accountSource.branchName}__')} > 0">
                                <input class="account-source-button"
                                       th:value="'__${accountSource.accountName}__'"
                                       type="submit"/>
                            </th:block>
                        </form>
                    </th:block>
                </th:block>
            </th:block>
        </td>
    </tr>
</table>
</body>
</html>
