<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>口座検索</title>
</head>
<body>
口座名
<table th:object="${accounts}">
    <tr th:each="accountDestination : ${accounts}">
        <td>
            <form enctype="multipart/form-data"
                  method="post"
                  th:action="@{'/setAccountDestination/__${accountSourceForm.accountId}__/__${accountDestination.accountId}__'}">
                <button type="submit">[[${accountDestination.accountName}]]</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>