<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>ログインフォーム</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" rel="stylesheet">
    <link href="/css/common.css" rel="stylesheet">
    <link href="/css/login.css" rel="stylesheet">
</head>
<body style="background-color: #aaaaaa;">
<div style="margin: 120px auto; width: 310px; padding: 5px 5px 16px 5px; background-color: #fee7e7; border: 2px double #888888;">
    <h3>ログインフォーム</h3>
    <p th:if="${param.error}">
        Error!
    </p>
    <form th:action="@{/sign_in}" th:method="POST">
        <table class="login-tbl">
            <tr>
                <th style="text-align: right;"><label for="username">ユーザ名</label></th>
            </tr>
            <tr>
                <td><input id="username" name="username" style="width: 294px;"
                           type="text" value="juiceB"/></td>
            </tr>
            <tr>
                <th style="text-align: right;"><label for="password">パスワード</label></th>
            </tr>
            <tr>
                <td><input id="password" name="password" style="width: 294px;"
                           type="password" value="test"/></td>
            </tr>
            <tr>
                <th style="font-size: 5px;">&nbsp</th>
            </tr>
            <tr>
                <td>
                    <button style="width: 294px; text-align: end;"
                            type="submit">ログイン
                    </button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>