<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
<h3><strong>KakeiPon</strong>&nbsp;&nbsp;&nbsp;v.0.2.x</h3>
<table>
    <tr>
        <td><input class="top-button" type="button" onclick="location.href='/user'" value="ユーザ管理" /></td>
    </tr>
    <tr>
        <td>
            <input class="top-button" type="button" onclick="location.href='/classification'" width="16" value="費目管理" />
        </td>
    </tr>
    <tr>
        <td>
            <input class="top-button" type="button" onclick="location.href='/spec'" width="16" value="出納記録" />
        </td>
    </tr>
    <tr>
        <td><button></button></td>
    </tr>
</table>
</body>
</html>