<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/common.css" rel="stylesheet">
</head>
<body>
<h3><strong>KakeiPon</strong>&nbsp;&nbsp;&nbsp;v.0.2.x</h3>
<table>
    <tr>
        <td><input class="top-button" onclick="location.href='/user'" type="button" value="ユーザ管理"/></td>
    </tr>
    <tr>
        <td>
            <input class="top-button" onclick="location.href='/classification'" type="button" value="費目管理"
                   width="16"/>
        </td>
    </tr>
    <tr>
        <td>
            <input class="top-button" onclick="location.href='/currency'" type="button" value="通貨管理"
                   width="16"/>
        </td>
    </tr>
    <tr>
        <td>
            <input class="top-button" onclick="location.href='/spec'" type="button" value="出納記録" width="16"/>
        </td>
    </tr>
    <tr>
        <td>
            <form th:action="@{/logout}" method="POST">
                <button>ログアウト</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>