<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>入出金登録</title>
    <link href="/css/common.css" rel="stylesheet">
</head>
<body>
<form id="specDetail" th:action="@{'/spec/save/detail/__${specificationForm.specificationGroupId}__'}"
      th:object="${specificationForm}" method="POST">
    <div>
        <input id="specificationGroupId" name="specificationGroupId"
               th:value="${specificationForm.specificationGroupId}"
               type="hidden">
        <input id="userId" name="userId"
               th:value="${specificationGroupForm.userId}" type="hidden">
        <input id="specificationId" name="specificationId"
               th:value="${specificationForm.specificationId}"
               type="hidden">
    </div>

    <table>
        <tr>
            <th>
                <div th:text="商品名"></div>
            </th>
            <td>
                <input id="name" name="name" class="brand-name"
                       th:value="${specificationForm.name}"
                       type="text" />
            </td>
        </tr>
        <tr>
            <th>
                <div th:text="単価"></div>
            </th>
            <td>
                <input id="price" name="price" class="price"
                       onchange="calculateTax()"
                       th:value="${specificationForm.price}"
                       type="number" />
            </td>
        </tr>
        <tr>
            <th>
                <div th:text="通貨"></div>
            </th>
            <td>
                <label for="currency"></label>
                <select id="currency"
                        name="currency"
                        onchange="calculateTax()"
                        th:field="*{currencyId}">
                    <option th:each="currencyList : ${currencyLists}"
                            th:value="${currencyList.currencyId}"
                            th:text="${currencyList.currencyName}">
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <th>
                <div th:text="数量"></div>
            </th>
            <td>
                <label for="quantity"></label>
                <input id="quantity" name="quantity" class="quantity"
                       onchange="calculateTax()"
                       th:value="${specificationForm.quantity}"
                       type="number" />
            </td>
        </tr>
        <tr>
            <th>
                <div th:text="単位"></div>
            </th>
            <td>
                <label for="unit"></label>
                <select id="unit"
                        name="unit"
                        th:field="*{unitId}">
                    <option th:each="unit : ${units}"
                            th:value="${unit.unitId}"
                            th:text="${unit.unitName}">
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <th>
                <div th:text="税区分"></div>
            </th>
            <td>
                <label for="taxType"></label>
                <select id="taxType"
                        name="taxType"
                        onchange="calculateTax()"
                        th:field="*{taxTypeId}">
                    <option th:each="taxType : ${taxTypes}"
                            th:value="${taxType.taxTypeId}"
                            th:text="${taxType.taxTypeName}">
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <th>
                <div th:text="税率"></div>
            </th>
            <td>
                <label for="taxRate"></label>
                <select id="taxRate"
                        name="taxRate"
                        onchange="calculateTax()"
                        th:field="*{taxRateId}">
                    <option th:each="taxRate : ${taxRates}"
                            th:value="${taxRate.taxRateId}"
                            th:text="'__${taxRate.taxRate}__' + '%'">
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <th>
                <div th:text="消費税"></div>
            </th>
            <td>
                <label for="tax"></label>
                <input id="tax" name="taxType.tax" class="tax"
                       type="number" />
            </td>
        </tr>
        <tr>
            <th>
                <div th:text="備考"></div>
            </th>
            <td>
                <label for="spec-memo"></label>
                <textarea id="spec-memo" name="memo"
                       class="spec-memo" th:inline="text">[[*{memo}]]</textarea>
            </td>
        </tr>
    </table>
</form>
<div>
</div>

<input onclick="location.href='/top'" type="submit" value="トップ画面"/>
<input onclick="location.href='/spec'" type="submit" value="前の画面">
<input form="specDetail" type="submit" value="登　録">

<input id="balanceTypeId" name="balanceTypeId"
       th:value="${specificationGroupForm.balanceTypeId}"
       type="hidden">

<script src="/js/createGroup.js"></script>
</body>
</html>