<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>入出金登録</title>
</head>
<body>
<form enctype="multipart/form-data" method="post"
      th:action="@{'/spec'}" th:object="${specificationGroupForm}">
    <table>
        <tr>
            <td></td>
            <td th:object="${user}">
                <input id="userId" name="userId"
                       th:value="${specificationGroupForm.userId}" type="hidden" readonly>
            </td>
        </tr>
        <tr>
            <td>入出金日時</td>
            <td>
                <span>
                    <label for="receivingAndPaymentDate"></label>
                    <input id="receivingAndPaymentDate" name="receivingAndPaymentDate"
                           th:value="${specificationGroupForm.receivingAndPaymentDate}"
                           onchange="changedReceivingAndPaymentDate()"
                           type="date">
                </span>
                <span>
                    <label for="receivingAndPaymentTime"></label>
                    <input id="receivingAndPaymentTime" name="receivingAndPaymentTime"
                           th:value="${specificationGroupForm.receivingAndPaymentTime}"
                           onchange="changedReceivingAndPaymentTime()"
                           type="time">
                </span>
            </td>
        </tr>
        <tr>
            <td><label for="shop">お店</label></td>
            <td th:object="${specificationGroupForm.shopForm.shopId}">
                <th:block th:if="${shop} ne null">
                    <input id="shopId" name="shopId"
                           th:value="${specificationGroupForm.shopForm.shopId}"
                           type="hidden" readonly>
                    <input form="dummy" id="shop" name="shop"
                           th:value="${specificationGroupForm.shopForm.shopName}"
                           type="text" readonly>
                </th:block>
                <th:block th:unless="${shop} ne null">
                    <input id="shopId" name="shopId"
                           th:value="1" type="hidden" readonly>
                    <input form="dummy" id="shop" name="shop"
                           type="text" readonly>
                </th:block>
                <input form="searchShop" type="submit" value="検　索"/>
            </td>
        </tr>
        <tr>
            <td>入出金区分</td>
            <td>
                <label for="receivingAndPaymentType"></label>
                <select id="receivingAndPaymentType"
                        name="receivingAndPaymentType"
                        onchange="changedReceivingAndPaymentType()"
                        th:value="${specificationGroupForm.receivingAndPaymentType}">
                    <option value="1">出金</option>
                    <option value="2">入金</option>
                    <option value="3">振替</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>出金元</td>
            <td th:object="${specificationGroupForm.accountAndBalanceForm.accountSourceForm.accountId}">
                <th:block th:if="${specificationGroupForm.accountAndBalanceForm.accountSourceForm.accountId} ne null">
                    <input id="accountSourceId" name="accountSourceId"
                           th:value="${specificationGroupForm.accountAndBalanceForm.accountSourceForm.accountId}"
                           type="hidden" readonly>
                    <input id="accountSourceName" name="accountSourceName"
                           th:value="${specificationGroupForm.accountAndBalanceForm.accountSourceForm.accountName}"
                           type="text" readonly>
                </th:block>
                <th:block th:unless="${specificationGroupForm.accountAndBalanceForm.accountSourceForm.accountId} ne null">
                    <input id="accountSourceId" name="accountSourceId"
                           th:value="1" type="hidden" readonly>
                    <input id="accountSourceName" name="accountSourceName"
                           type="text" readonly>
                </th:block>
                <input form="searchAccountSource" id="accountSourceButton"
                       type="submit" value="検　索"/>
            </td>
        </tr>
        <tr>
            <td>入金先</td>
            <td th:object="${accountDestination}">
                <th:block th:if="${specificationGroupForm.accountAndBalanceForm.accountDestinationForm.accountId} ne null">
                    <input id="accountDestinationId" name="accountDestinationId"
                           th:value="${specificationGroupForm.accountAndBalanceForm.accountDestinationForm.accountId}"
                           type="hidden" readonly>
                    <input id="accountDestinationName" name="accountDestinationName"
                           th:value="${specificationGroupForm.accountAndBalanceForm.accountDestinationForm.accountName}"
                           type="text" readonly>
                </th:block>
                <th:block th:unless="${specificationGroupForm.accountAndBalanceForm.accountDestinationForm.accountId} ne null">
                    <input id="accountDestinationId" name="accountDestinationId"
                           th:value="1" type="hidden" readonly>
                    <input id="accountDestinationName" name="accountDestinationName"
                           type="text" readonly>
                </th:block>
                <input form="searchAccountDestination" id="accountDestinationButton"
                       type="submit" value="検　索"/>
            </td>
        </tr>
        <tr>
            <td>備考</td>
            <td>
                <label for="memo"></label>
                <textarea id="memo" name="memo" th:field="*{memo}"></textarea>
            </td>
        </tr>
    </table>
    <input type="submit" value="登　録">
</form>

<!--==================================================================================================-->
<th:block th:if="${specificationGroupForm.receivingAndPaymentType} eq 1">
    <th:block th:if="${shop} eq null">
        <th:block th:if="${accountSourceId} eq null">
            <th:block th:if="${accountDestinationId} eq null">
                <form id="searchShop" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/1' +
                      '/1' +
                      '/1' +
                      '/searchShop'}" th:object="${shopForm}">
                </form>
            </th:block>
            <th:block th:unless="${accountDestinationId} eq null">
                <form id="searchShop" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/1' +
                      '/1' +
                      '/__${accountDestinationId}__' +
                      '/searchShop'}" th:object="${shopForm}">
                </form>
            </th:block>
        </th:block>
        <th:block th:unless="${accountSourceId} eq null">
            <th:block th:if="${accountDestinationId} eq null">
                <form id="searchShop" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/1' +
                      '/__${accountSourceId}__' +
                      '/1' +
                      '/searchShop'}" th:object="${shopForm}">
                </form>
            </th:block>
            <th:block th:unless="${accountDestinationId} eq null">
                <form id="searchShop" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/1' +
                      '/__${accountSourceId}__' +
                      '/__${accountDestinationId}__' +
                      '/searchShop'}" th:object="${shopForm}">
                </form>
            </th:block>
        </th:block>
    </th:block>
    <th:block th:unless="${shop} eq null">
        <th:block th:if="${accountSourceId} eq null">
            <th:block th:if="${accountDestinationId} eq null">
                <form id="searchShop" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/__${shop.shopId}__' +
                      '/1' +
                      '/1' +
                      '/searchShop'}" th:object="${shopForm}">
                </form>
            </th:block>
            <th:block th:unless="${accountDestinationId} eq null">
                <form id="searchShop" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/__${shop.shopId}__' +
                      '/1' +
                      '/__${accountDestinationId}__' +
                      '/searchShop'}" th:object="${shopForm}">
                </form>
            </th:block>
        </th:block>
        <th:block th:unless="${accountSourceId} eq null">
            <th:block th:if="${accountDestinationId} eq null">
                <form id="searchShop" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/__${shop.shopId}__' +
                      '/__${accountSourceId}__' +
                      '/1' +
                      '/searchShop'}" th:object="${shopForm}">
                </form>
            </th:block>
            <th:block th:unless="${accountDestinationId} eq null">
                <form id="searchShop" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/__${shop.shopId}__' +
                      '/__${accountSourceId}__' +
                      '/__${accountDestinationId}__' +
                      '/searchShop'}" th:object="${shopForm}">
                </form>
            </th:block>
        </th:block>
    </th:block>
</th:block>
<!--==================================================================================================-->
<th:block th:if="${specificationGroupForm.receivingAndPaymentType} eq 2">
    <th:block th:if="${shop} eq null">
        <th:block th:if="${accountSourceId} eq null">
            <th:block th:if="${accountDestinationId} eq null">
                <form id="searchShop" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/1' +
                      '/1' +
                      '/1' +
                      '/searchShop'}" th:object="${shopForm}">
                </form>
            </th:block>
            <th:block th:unless="${accountDestinationId} eq null">
                <form id="searchShop" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/1' +
                      '/1' +
                      '/__${accountDestinationId}__' +
                      '/searchShop'}" th:object="${shopForm}">
                </form>
            </th:block>
        </th:block>
        <th:block th:unless="${accountSourceId} eq null">
            <th:block th:if="${accountDestinationId} eq null">
                <form id="searchShop" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/1' +
                      '/__${accountSourceId}__' +
                      '/1' +
                      '/searchShop'}" th:object="${shopForm}">
                </form>
            </th:block>
            <th:block th:unless="${accountDestinationId} eq null">
                <form id="searchShop" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/1' +
                      '/__${accountSourceId}__' +
                      '/__${accountDestinationId}__' +
                      '/searchShop'}" th:object="${shopForm}">
                </form>
            </th:block>
        </th:block>
    </th:block>
    <th:block th:unless="${shop} eq null">
        <th:block th:if="${accountSourceId} eq null">
            <th:block th:if="${accountDestinationId} eq null">
                <form id="searchShop" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/__${shop.shopId}__' +
                      '/1' +
                      '/1' +
                      '/searchShop'}" th:object="${shopForm}">
                </form>
            </th:block>
            <th:block th:unless="${accountDestinationId} eq null">
                <form id="searchShop" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/__${shop.shopId}__' +
                      '/1' +
                      '/__${accountDestinationId}__' +
                      '/searchShop'}" th:object="${shopForm}">
                </form>
            </th:block>
        </th:block>
        <th:block th:unless="${accountSourceId} eq null">
            <th:block th:if="${accountDestinationId} eq null">
                <form id="searchShop" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/__${shop.shopId}__' +
                      '/1' +
                      '/1' +
                      '/searchShop'}" th:object="${shopForm}">
                </form>
            </th:block>
            <th:block th:unless="${accountDestinationId} eq null">
                <form id="searchShop" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/__${shop.shopId}__' +
                      '/1' +
                      '/__${accountDestinationId}__' +
                      '/searchShop'}" th:object="${shopForm}">
                </form>
            </th:block>
        </th:block>
    </th:block>
</th:block>
<!--==================================================================================================-->
<th:block th:if="${specificationGroupForm.receivingAndPaymentType} eq 3">
    <th:block th:if="${shop} eq null">
        <th:block th:if="${accountSourceId} eq null">
            <th:block th:if="${accountDestinationId} eq null">
                <form id="searchShop" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/1' +
                      '/1' +
                      '/1' +
                      '/searchShop'}" th:object="${shopForm}">
                </form>
            </th:block>
            <th:block th:unless="${accountDestinationId} eq null">
                <form id="searchShop" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/1' +
                      '/1' +
                      '/__${accountDestinationId}__' +
                      '/searchShop'}" th:object="${shopForm}">
                </form>
            </th:block>
        </th:block>
        <th:block th:unless="${accountSourceId} eq null">
            <th:block th:if="${accountDestinationId} eq null">
                <form id="searchShop" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/1' +
                      '/__${accountSourceId}__' +
                      '/1' +
                      '/searchShop'}" th:object="${shopForm}">
                </form>
            </th:block>
            <th:block th:unless="${accountDestinationId} eq null">
                <form id="searchShop" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/1' +
                      '/__${accountSourceId}__' +
                      '/__${accountDestinationId}__' +
                      '/searchShop'}" th:object="${shopForm}">
                </form>
            </th:block>
        </th:block>
    </th:block>
    <th:block th:unless="${shop} eq null">
        <th:block th:if="${accountSourceId} eq null">
            <th:block th:if="${accountDestinationId} eq null">
                <form id="searchShop" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/__${shop.shopId}__' +
                      '/1' +
                      '/1' +
                      '/searchShop'}" th:object="${shopForm}">
                </form>
            </th:block>
            <th:block th:unless="${accountDestinationId} eq null">
                <form id="searchShop" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/__${shop.shopId}__' +
                      '/1' +
                      '/__${accountDestinationId}__' +
                      '/searchShop'}" th:object="${shopForm}">
                </form>
            </th:block>
        </th:block>
        <th:block th:unless="${accountSourceId} eq null">
            <th:block th:if="${accountDestinationId} eq null">
                <form id="searchShop" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/__${shop.shopId}__' +
                      '/__${accountSourceId}__' +
                      '/1' +
                      '/searchShop'}" th:object="${shopForm}">
                </form>
            </th:block>
            <th:block th:unless="${accountDestinationId} eq null">
                <form id="searchShop" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/__${shop.shopId}__' +
                      '/__${accountSourceId}__' +
                      '/__${accountDestinationId}__' +
                      '/searchShop'}" th:object="${shopForm}">
                </form>
            </th:block>
        </th:block>
    </th:block>
</th:block>


<!--==================================================================================================-->
<th:block th:if="${specificationGroupForm.receivingAndPaymentType} eq 1">
    <th:block th:if="${shopId} eq null">
        <th:block th:if="${accountSource.accountSourceId} eq null">
            <th:block th:if="${accountDestinationId} eq null">
                <form id="searchAccountSource" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/1' +
                      '/1' +
                      '/1' +
                      '/searchAccountSource'}" th:object="${shopAccountSource}">
                </form>
            </th:block>
            <th:block th:unless="${accountDestinationId} eq null">
                <form id="searchAccountSource" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/1' +
                      '/1' +
                      '/__${accountDestinationId}__' +
                      '/searchAccountSource'}" th:object="${shopAccountSource}">
                </form>
            </th:block>
        </th:block>
        <th:block th:unless="${accountSource.accountSourceId} eq null">
            <th:block th:if="${accountDestinationId} eq null">
                <form id="searchAccountSource" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/1' +
                      '/__${accountSource.accountSourceId}__' +
                      '/1' +
                      '/searchAccountSource'}" th:object="${shopAccountSource}">
                </form>
            </th:block>
            <th:block th:unless="${accountDestinationId} eq null">
                <form id="searchAccountSource" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/1' +
                      '/__${accountSource.accountSourceId}__' +
                      '/__${accountDestinationId}__' +
                      '/searchAccountSource'}" th:object="${shopAccountSource}">
                </form>
            </th:block>
        </th:block>
    </th:block>
    <th:block th:unless="${shopId} eq null">
        <th:block th:if="${accountSource.accountSourceId} eq null">
            <th:block th:if="${accountDestinationId} eq null">
                <form id="searchAccountSource" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/__${shopId}__' +
                      '/1' +
                      '/1' +
                      '/searchAccountSource'}" th:object="${shopAccountSource}">
                </form>
            </th:block>
            <th:block th:unless="${accountDestinationId} eq null">
                <form id="searchAccountSource" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/__${shopId}__' +
                      '/1' +
                      '/__${accountDestinationId}__' +
                      '/searchAccountSource'}" th:object="${shopAccountSource}">
                </form>
            </th:block>
        </th:block>
        <th:block th:unless="${accountSource.accountSourceId} eq null">
            <th:block th:if="${accountDestinationId} eq null">
                <form id="searchAccountSource" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/__${shopId}__' +
                      '/__${accountSource.accountSourceId}__' +
                      '/1' +
                      '/searchAccountSource'}" th:object="${shopAccountSource}">
                </form>
            </th:block>
            <th:block th:unless="${accountDestinationId} eq null">
                <form id="searchAccountSource" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/__${shopId}__' +
                      '/__${accountSource.accountSourceId}__' +
                      '/__${accountDestinationId}__' +
                      '/searchAccountSource'}" th:object="${shopAccountSource}">
                </form>
            </th:block>
        </th:block>
    </th:block>
</th:block>
<!--==================================================================================================-->
<th:block th:if="${specificationGroupForm.receivingAndPaymentType} eq 2">
    <th:block th:if="${shopId} eq null">
        <th:block th:if="${accountSource.accountSourceId} eq null">
            <th:block th:if="${accountDestinationId} eq null">
                <form id="searchAccountSource" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/1' +
                      '/1' +
                      '/1' +
                      '/searchAccountSource'}" th:object="${shopAccountSource}">
                </form>
            </th:block>
            <th:block th:unless="${accountDestinationId} eq null">
                <form id="searchAccountSource" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/1' +
                      '/1' +
                      '/__${accountDestinationId}__' +
                      '/searchAccountSource'}" th:object="${shopAccountSource}">
                </form>
            </th:block>
        </th:block>
        <th:block th:unless="${accountSource.accountSourceId} eq null">
            <th:block th:if="${accountDestinationId} eq null">
                <form id="searchAccountSource" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/1' +
                      '/__${accountSource.accountSourceId}__' +
                      '/1' +
                      '/searchAccountSource'}" th:object="${shopAccountSource}">
                </form>
            </th:block>
            <th:block th:unless="${accountDestinationId} eq null">
                <form id="searchAccountSource" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/1' +
                      '/__${accountSource.accountSourceId}__' +
                      '/__${accountDestinationId}__' +
                      '/searchAccountSource'}" th:object="${shopAccountSource}">
                </form>
            </th:block>
        </th:block>
    </th:block>
    <th:block th:unless="${shopId} eq null">
        <th:block th:if="${accountSource.accountSourceId} eq null">
            <th:block th:if="${accountDestinationId} eq null">
                <form id="searchAccountSource" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/__${shopId}__' +
                      '/1' +
                      '/1' +
                      '/searchAccountSource'}" th:object="${shopAccountSource}">
                </form>
            </th:block>
            <th:block th:unless="${accountDestinationId} eq null">
                <form id="searchAccountSource" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/__${shopId}__' +
                      '/1' +
                      '/__${accountDestinationId}__' +
                      '/searchAccountSource'}" th:object="${shopAccountSource}">
                </form>
            </th:block>
        </th:block>
        <th:block th:unless="${accountSource.accountSourceId} eq null">
            <th:block th:if="${accountDestinationId} eq null">
                <form id="searchAccountSource" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/__${shopId}__' +
                      '/__${accountSource.accountSourceId}__' +
                      '/1' +
                      '/searchAccountSource'}" th:object="${shopAccountSource}">
                </form>
            </th:block>
            <th:block th:unless="${accountDestinationId} eq null">
                <form id="searchAccountSource" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/__${shopId}__' +
                      '/__${accountSource.accountSourceId}__' +
                      '/__${accountDestinationId}__' +
                      '/searchAccountSource'}" th:object="${shopAccountSource}">
                </form>
            </th:block>
        </th:block>
    </th:block>
</th:block>
<!--==================================================================================================-->
<th:block th:if="${specificationGroupForm.receivingAndPaymentType} eq 3">
    <th:block th:if="${shopId} eq null">
        <th:block th:if="${accountSource.accountSourceId} eq null">
            <th:block th:if="${accountDestinationId} eq null">
                <form id="searchAccountSource" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/1' +
                      '/1' +
                      '/1' +
                      '/searchAccountSource'}" th:object="${shopAccountSource}">
                </form>
            </th:block>
            <th:block th:unless="${accountDestinationId} eq null">
                <form id="searchAccountSource" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/1' +
                      '/1' +
                      '/__${accountDestinationId}__' +
                      '/searchAccountSource'}" th:object="${shopAccountSource}">
                </form>
            </th:block>
        </th:block>
        <th:block th:unless="${accountSource.accountSourceId} eq null">
            <th:block th:if="${accountDestinationId} eq null">
                <form id="searchAccountSource" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/1' +
                      '/__${accountSource.accountSourceId}__' +
                      '/1' +
                      '/searchAccountSource'}" th:object="${shopAccountSource}">
                </form>
            </th:block>
            <th:block th:unless="${accountDestinationId} eq null">
                <form id="searchAccountSource" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/1' +
                      '/__${accountSource.accountSourceId}__' +
                      '/__${accountDestinationId}__' +
                      '/searchAccountSource'}" th:object="${shopAccountSource}">
                </form>
            </th:block>
        </th:block>
    </th:block>
    <th:block th:unless="${shopId} eq null">
        <th:block th:if="${accountSource.accountSourceId} eq null">
            <th:block th:if="${accountDestinationId} eq null">
                <form id="searchAccountSource" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/__${shopId}__' +
                      '/1' +
                      '/1' +
                      '/searchAccountSource'}" th:object="${shopAccountSource}">
                </form>
            </th:block>
            <th:block th:unless="${accountDestinationId} eq null">
                <form id="searchAccountSource" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/__${shopId}__' +
                      '/1' +
                      '/__${accountDestinationId}__' +
                      '/searchAccountSource'}" th:object="${shopAccountSource}">
                </form>
            </th:block>
        </th:block>
        <th:block th:unless="${accountSource.accountSourceId} eq null">
            <th:block th:if="${accountDestinationId} eq null">
                <form id="searchAccountSource" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/__${shopId}__' +
                      '/__${accountSource.accountSourceId}__' +
                      '/1' +
                      '/searchAccountSource'}" th:object="${shopAccountSource}">
                </form>
            </th:block>
            <th:block th:unless="${accountDestinationId} eq null">
                <form id="searchAccountSource" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/__${shopId}__' +
                      '/__${accountSource.accountSourceId}__' +
                      '/__${accountDestinationId}__' +
                      '/searchAccountSource'}" th:object="${shopAccountSource}">
                </form>
            </th:block>
        </th:block>
    </th:block>
</th:block>


<!--==================================================================================================-->
<th:block th:if="${specificationGroupForm.receivingAndPaymentType} eq 1">
    <th:block th:if="${shopId} eq null">
        <th:block th:if="${accountSourceId} eq null">
            <th:block th:if="${accountDestination.accountDestinationId} eq null">
                <form id="searchAccountDestination" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/1' +
                      '/1' +
                      '/1' +
                      '/searchAccountDestination'}" th:object="${shopAccountDestination}">
                </form>
            </th:block>
            <th:block th:unless="${accountDestination.accountDestinationId} eq null">
                <form id="searchAccountDestination" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/1' +
                      '/1' +
                      '/__${accountDestination.accountDestinationId}__' +
                      '/searchAccountDestination'}" th:object="${shopAccountDestination}">
                </form>
            </th:block>
        </th:block>
        <th:block th:unless="${accountSourceId} eq null">
            <th:block th:if="${accountDestination.accountDestinationId} eq null">
                <form id="searchAccountDestination" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/1' +
                      '/__${accountSourceId}__' +
                      '/1' +
                      '/searchAccountDestination'}" th:object="${shopAccountDestination}">
                </form>
            </th:block>
            <th:block th:unless="${accountDestination.accountDestinationId} eq null">
                <form id="searchAccountDestination" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/1' +
                      '/__${accountSourceId}__' +
                      '/__${accountDestination.accountDestinationId}__' +
                      '/searchAccountDestination'}" th:object="${shopAccountDestination}">
                </form>
            </th:block>
        </th:block>
    </th:block>
    <th:block th:unless="${shopId} eq null">
        <th:block th:if="${accountSourceId} eq null">
            <th:block th:if="${accountDestination.accountDestinationId} eq null">
                <form id="searchAccountDestination" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/__${shopId}__' +
                      '/1' +
                      '/1' +
                      '/searchAccountDestination'}" th:object="${shopAccountDestination}">
                </form>
            </th:block>
            <th:block th:unless="${accountDestination.accountDestinationId} eq null">
                <form id="searchAccountDestination" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/__${shopId}__' +
                      '/1' +
                      '/__${accountDestination.accountDestinationId}__' +
                      '/searchAccountDestination'}" th:object="${shopAccountDestination}">
                </form>
            </th:block>
        </th:block>
        <th:block th:unless="${accountSourceId} eq null">
            <th:block th:if="${accountDestination.accountDestinationId} eq null">
                <form id="searchAccountDestination" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/__${shopId}__' +
                      '/__${accountSourceId}__' +
                      '/1' +
                      '/searchAccountDestination'}" th:object="${shopAccountDestination}">
                </form>
            </th:block>
            <th:block th:unless="${accountDestination.accountDestinationId} eq null">
                <form id="searchAccountDestination" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/__${shopId}__' +
                      '/__${accountSourceId}__' +
                      '/__${accountDestination.accountDestinationId}__' +
                      '/searchAccountDestination'}" th:object="${shopAccountDestination}">
                </form>
            </th:block>
        </th:block>
    </th:block>
</th:block>
<!--==================================================================================================-->
<th:block th:if="${specificationGroupForm.receivingAndPaymentType} eq 2">
    <th:block th:if="${shopId} eq null">
        <th:block th:if="${accountSource} eq null">
            <th:block th:if="${accountDestination.accountDestinationId} eq null">
                <form id="searchAccountDestination" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/1' +
                      '/1' +
                      '/1' +
                      '/searchAccountDestination'}" th:object="${shopAccountDestination}">
                </form>
            </th:block>
            <th:block th:unless="${accountDestination.accountDestinationId} eq null">
                <form id="searchAccountDestination" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/1' +
                      '/1' +
                      '/__${accountDestination.accountDestinationId}__' +
                      '/searchAccountDestination'}" th:object="${shopAccountDestination}">
                </form>
            </th:block>
        </th:block>
        <th:block th:unless="${accountSource} eq null">
            <th:block th:if="${accountDestination.accountDestinationId} eq null">
                <form id="searchAccountDestination" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/1' +
                      '/__${accountSourceId}__' +
                      '/1' +
                      '/searchAccountDestination'}" th:object="${shopAccountDestination}">
                </form>
            </th:block>
            <th:block th:unless="${accountDestination.accountDestinationId} eq null">
                <form id="searchAccountDestination" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/1' +
                      '/__${accountSourceId}__' +
                      '/__${accountDestination.accountDestinationId}__' +
                      '/searchAccountDestination'}" th:object="${shopAccountDestination}">
                </form>
            </th:block>
        </th:block>
    </th:block>
    <th:block th:unless="${shopId} eq null">
        <th:block th:if="${accountSource} eq null">
            <th:block th:if="${accountDestination.accountDestinationId} eq null">
                <form id="searchAccountDestination" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/__${shopId}__' +
                      '/1' +
                      '/1' +
                      '/searchAccountDestination'}" th:object="${shopAccountDestination}">
                </form>
            </th:block>
            <th:block th:unless="${accountDestination.accountDestinationId} eq null">
                <form id="searchAccountDestination" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/__${shopId}__' +
                      '/1' +
                      '/__${accountDestination.accountDestinationId}__' +
                      '/searchAccountDestination'}" th:object="${shopAccountDestination}">
                </form>
            </th:block>
        </th:block>
        <th:block th:unless="${accountSource} eq null">
            <th:block th:if="${accountDestination.accountDestinationId} eq null">
                <form id="searchAccountDestination" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/__${shop.shopId}__' +
                      '/__${accountSourceId}__' +
                      '/1' +
                      '/searchAccountDestination'}" th:object="${shopAccountDestination}">
                </form>
            </th:block>
            <th:block th:unless="${accountDestination.accountDestinationId} eq null">
                <form id="searchAccountDestination" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/__${shop.shopId}__' +
                      '/__${accountSourceId}__' +
                      '/__${accountDestination.accountDestinationId}__' +
                      '/searchAccountDestination'}" th:object="${shopAccountDestination}">
                </form>
            </th:block>
        </th:block>
    </th:block>
</th:block>
<!--==================================================================================================-->
<th:block th:if="${specificationGroupForm.receivingAndPaymentType} eq 3">
    <th:block th:if="${shopId} eq null">
        <th:block th:if="${accountSourceId} eq null">
            <th:block th:if="${accountDestination.accountDestinationId} eq null">
                <form id="searchAccountDestination" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/1' +
                      '/1' +
                      '/1' +
                      '/searchAccountDestination'}" th:object="${shopAccountDestination}">
                </form>
            </th:block>
            <th:block th:unless="${accountDestination.accountDestinationId} eq null">
                <form id="searchAccountDestination" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/1' +
                      '/1' +
                      '/__${accountDestination.accountDestinationId}__' +
                      '/searchAccountDestination'}" th:object="${shopAccountDestination}">
                </form>
            </th:block>
        </th:block>
        <th:block th:unless="${accountSourceId} eq null">
            <th:block th:if="${accountDestination.accountDestinationId} eq null">
                <form id="searchAccountDestination" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/1' +
                      '/__${accountSourceId}__' +
                      '/1' +
                      '/searchAccountDestination'}" th:object="${shopAccountDestination}">
                </form>
            </th:block>
            <th:block th:unless="${accountDestination.accountDestinationId} eq null">
                <form id="searchAccountDestination" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/1' +
                      '/__${accountSourceId}__' +
                      '/__${accountDestination.accountDestinationId}__' +
                      '/searchAccountDestination'}" th:object="${shopAccountDestination}">
                </form>
            </th:block>
        </th:block>
    </th:block>
    <th:block th:unless="${shopId} eq null">
        <th:block th:if="${accountSourceId} eq null">
            <th:block th:if="${accountDestination.accountDestinationId} eq null">
                <form id="searchAccountDestination" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/__${shopId}__' +
                      '/1' +
                      '/1' +
                      '/searchAccountDestination'}" th:object="${shopAccountDestination}">
                </form>
            </th:block>
            <th:block th:unless="${accountDestination.accountDestinationId} eq null">
                <form id="searchAccountDestination" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/__${shop.shopId}__' +
                      '/1' +
                      '/__${accountDestination.accountDestinationId}__' +
                      '/searchAccountDestination'}" th:object="${shopAccountDestination}">
                </form>
            </th:block>
        </th:block>
        <th:block th:unless="${accountSourceId} eq null">
            <th:block th:if="${accountDestination.accountDestinationId} eq null">
                <form id="searchAccountDestination" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/__${shop.shopId}__' +
                      '/__${accountSourceId}__' +
                      '/1' +
                      '/searchAccountDestination'}" th:object="${shopAccountDestination}">
                </form>
            </th:block>
            <th:block th:unless="${accountDestination.accountDestinationId} eq null">
                <form id="searchAccountDestination" method="get"
                      th:action="@{
                      '/__${accountAndBalanceId}__' +
                      '/__${shop.shopId}__' +
                      '/__${accountSourceId}__' +
                      '/__${accountDestination.accountDestinationId}__' +
                      '/searchAccountDestination'}" th:object="${shopAccountDestination}">
                </form>
            </th:block>
        </th:block>
    </th:block>
</th:block>

<form id="dummy"></form>
<script src="/js/createGroup.js"></script>
</body>
</html>