<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>入出金登録</title>
    <link href="/css/common.css" rel="stylesheet">
</head>
<body>
<form id="specification" th:action="@{'/spec'}" th:object="${specificationGroupForm}" method="post">
    <div th:object="${specificationGroupForm.accountAndBalanceForm}">
        <input id="accountAndBalanceId" name="accountAndBalanceId"
               th:value="*{accountAndBalanceId}"
               type="hidden">
    </div>

    <table>
        <tr>
            <td></td>
            <td th:object="${specificationGroupForm.userForm}">
                <input id="userId" name="userId"
                       th:value="*{userId}" type="hidden" readonly>
            </td>
        </tr>
        <tr>
            <td>入出金日時</td>
            <td>
                <span>
                    <label for="receivingAndPaymentDate"></label>
                    <input id="receivingAndPaymentDate" name="receivingAndPaymentDate"
                           th:value="${specificationGroupForm.receivingAndPaymentDate}"
                           onchange="changedReceivingAndPaymentDate()"
                           type="date">
                </span>
                <span>
                    <label for="receivingAndPaymentTime"></label>
                    <input id="receivingAndPaymentTime" name="receivingAndPaymentTime"
                           th:value="${specificationGroupForm.receivingAndPaymentTime}"
                           onchange="changedReceivingAndPaymentTime()"
                           type="time">
                </span>
            </td>
        </tr>
        <tr>
            <td><label for="shop">お店</label></td>
            <td th:object="${specificationGroupForm.shopId}">
                <th:block th:if="${shop} ne null">
                    <input id="shopId" name="shopId"
                           readonly
                           th:value="${specificationGroupForm.shopId}" type="hidden">
                    <input form="dummy" id="shop" name="shop"
                           readonly
                           th:value="${shop.shopName}" type="text">
                </th:block>
                <th:block th:unless="${shop} ne null">
                    <input id="shopId" name="shopId"
                           readonly th:value="1" type="hidden">
                    <input form="dummy" id="shop" name="shop"
                           readonly type="text">
                </th:block>
                <input form="searchShop" type="submit" value="検　索"/>
            </td>
        </tr>
        <tr>
            <td>入出金区分</td>
            <td>
                <label for="balanceType"></label>
                <select id="balanceType"
                        name="balanceType"
                        onchange="changedBalanceType()"
                        th:field="*{balanceTypeId}">
                    <option th:each="balanceType : ${balanceTypes}"
                            th:value="${balanceType.balanceTypeId}"
                            th:text="${balanceType.balanceTypeName}">
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td>出金元</td>
            <td th:object="${accountSource}">
                <th:block th:if="${accountSource.accountSourceId} ne null">
                    <input id="accountSourceId" name="accountSourceId"
                           th:value="*{accountSourceId}"
                           type="hidden" readonly>
                    <label for="accountSourceName"></label>
                    <input id="accountSourceName" name="accountSourceName"
                           th:value="*{accountName}"
                           type="text" readonly>
                </th:block>
                <th:block
                        th:unless="${accountSource.accountSourceId} ne null">
                    <input id="accountSourceId" name="accountSourceId"
                           th:value="1" type="hidden" readonly>
                    <input id="accountSourceName" name="accountSourceName"
                           type="text" readonly>
                </th:block>
                <input form="searchAccountSource" id="accountSourceButton"
                       type="submit" value="検　索"/>
            </td>
        </tr>
        <tr>
            <td>入金先</td>
            <td th:object="${accountDestination}">
                <th:block
                        th:if="${accountDestination.accountDestinationId} ne null">
                    <input id="accountDestinationId" name="accountDestinationId"
                           readonly
                           th:value="${accountDestination.accountDestinationId}" type="hidden">
                    <label for="accountDestinationName"></label>
                    <input id="accountDestinationName" name="accountDestinationName"
                           th:value="${accountDestination.accountName}"
                           type="text" readonly>
                </th:block>
                <th:block
                        th:unless="${accountDestination.accountDestinationId} ne null">
                    <input id="accountDestinationId" name="accountDestinationId"
                           readonly th:value="1" type="hidden">
                    <input id="accountDestinationName" name="accountDestinationName"
                           type="text" readonly>
                </th:block>
                <input form="searchAccountDestination" id="accountDestinationButton"
                       type="submit" value="検　索"/>
            </td>
        </tr>
        <tr>
            <td>備考</td>
            <td>
                <label for="memo"></label>
                <textarea id="memo" name="memo" th:field="*{memo}"></textarea>
            </td>
        </tr>
    </table>
</form>
<div>
    <div id="header" class="grid">
        <div class="brand-name"><input class="spec-header brand-name" th:value="商品名" readonly/></div>
        <div class="price"><input class="spec-header price" th:value="単価" readonly/></div>
        <div class="currency-name"><input class="spec-header currency-name-header" th:value="通貨" readonly/></div>
        <div class="quantity"><input class="spec-header quantity" th:value="数量" readonly/></div>
        <div class="unit-name"><input class="spec-header unit-name-header" th:value="単位" readonly/></div>
        <div class="tax-type-name"><input class="spec-header tax-type-name" th:value="税区分" readonly/></div>
        <div class="tax-rate"><input class="spec-header tax-rate" th:value="税率" readonly/></div>
        <div class="tax"><input class="spec-header tax-header" th:value="消費税" readonly/></div>
        <div class="spec-memo"><input class="spec-header spec-memo" th:value="備考" readonly/></div>
    </div>
    <div th:each="specification, stat : ${specifications}"
         class="grid">
        <div>
            <input id="specificationGroupId" name="specifications[__${stat.index}__].specificationGroupId"
                   th:value="${specification.specificationGroupId}"
                   type="hidden">
            <input id="specificationId" name="specifications[__${stat.index}__].specificationId"
                   th:value="${specification.specificationId}"
                   type="hidden">
        </div>
        <div class="brand-name">
            <input id="name" name="specifications[__${stat.index}__].name"
                   class="brand-name"
                   th:value="${specification.name}"
                   type="text">
        </div>
        <div class="price">
            <input id="price"
                   name="specifications[__${stat.index}__].price"
                   class="price"
                   onchange="calculateTax()"
                   th:value="${specification.price}"
                   type="number">
        </div>
        <div class="currency-name">
            <label for="currency"></label>
            <select id="currency"
                    name="currency"
                    class="currency-name"
                    th:field="${specification.currencyId}">
                <option th:each="currency : ${currencies}"
                        th:value="${currency.currencyId}"
                        th:text="${currency.currencyName}">
                </option>
            </select>
        </div>
        <div class="quantity">
            <label for="quantity"></label>
            <input id="quantity"
                   name="specifications[__${stat.index}__].quantity"
                   class="quantity"
                   th:value="${specification.quantity}"
                   type="number">
        </div>
        <div class="unit-name">
            <label for="unit"></label>
            <select id="unit"
                    name="unit"
                    class="unit-name"
                    th:field="${specification.unitId}">
                <option th:each="unit : ${units}"
                        th:value="${unit.unitId}"
                        th:text="${unit.unitName}">
                </option>
            </select>
        </div>
        <div>
            <input id="taxTypeId"
                   name="specifications[__${stat.index}__].taxTypeId"
                   th:value="${specification.taxTypeId}"
                   type="hidden">
        </div>
        <div class="tax-type">
            <label for="taxType"></label>
            <select id="taxType"
                    name="taxType"
                    class="tax-type"
                    th:field="${specification.taxTypeId}"
                    onchange="calculateTax()">
                <option th:each="taxType : ${taxTypes}"
                        th:value="${taxType.taxTypeId}"
                        th:text="${taxType.taxTypeName}">
                </option>
            </select>
        </div>
        <div>
            <input id="taxRateId"
                   name="specifications[__${stat.index}__].taxRateId"
                   th:value="${specification.taxRateId}"
                   type="hidden">
        </div>
        <div class="tax-rate">
            <label for="taxRate"></label>
            <select id="taxRate"
                    name="taxRate"
                    class="tax-rate"
                    th:field="${specification.taxRateId}"
                    onchange="calculateTax()">
                <option th:each="taxRate : ${taxRates}"
                        th:value="${taxRate.taxRateId}"
                        th:text="'__${taxRate.taxRate}__' + '%'">
                </option>
            </select>
        </div>
        <div class="tax">
            <label for="tax"></label>
            <input id="tax" name="taxType.tax"
                   class="tax"
                   type="number">
        </div>
        <div class="spec-memo">
            <label for="spec-memo"></label>
            <input id="spec-memo"
                   class="spec-memo"
                   name="specifications[__${stat.index}__].memo"
                   th:value="${specification.memo}"
                   type="text">
        </div>
        <div class="delete">
            <input id="delete"
                   name="delete" type="button" value="削　除"
                   class="delete"
                   onclick="deleteRow(this)">
        </div>
    </div>
</div>

<input type="submit" value="明細追加">
<input form="specification" type="submit" value="登　録">

<input id="balanceTypeId" name="balanceTypeId"
       th:value="${specificationGroupForm.balanceTypeId}"
       type="hidden">

<form id="searchShop"
      th:action="@{'/searchShop'}" method="get">
</form>
<form id="searchAccountSource"
      th:action="@{'/searchAccountSource'}" method="get">
</form>
<form id="searchAccountDestination"
      th:action="@{'/searchAccountDestination'}" method="get">
</form>

<form id="dummy"></form>
<script src="/js/createGroup.js"></script>
</body>
</html>