<!DOCTYPE html>
<html lang="jp" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>明細登録</title>
    <link href="/css/common.css" rel="stylesheet">
</head>
<body>
<form id="specDetail"
      th:action="@{'/spec/save/create/detail/__*{specificationGroupId}__/__${specificationGroupForm.userId}__/__${specificationGroupForm.accountAndBalanceId}__/__${specificationGroupForm.shopId}__/__${specificationGroupForm.balanceTypeId}__/__${accountSourceForm.accountSourceId}__/__${accountDestinationForm.accountDestinationId}__'}"
      th:object="${specificationForm}" method="POST">
    <div>
        <input th:field="*{specificationGroupId}" type="hidden">
        <input th:field="*{specificationId}" type="hidden">
        <div th:object="${specificationGroupForm}">
            <label><input th:field="*{userId}" type="text"></label>
            <label><input th:field="*{groupMemo}" type="text"></label>
        </div>
    </div>

    <table>
        <tr>
            <th>
                <div th:text="商品名"></div>
            </th>
            <td>
                <label>
                    <input th:field="*{name}" type="text"/>
                </label>
            </td>
        </tr>
        <tr>
            <th>
                <div th:text="単価"></div>
            </th>
            <td>
                <label>
                    <input onchange="calculateTax()"
                           th:field="*{price}" type="number"/>
                </label>
            </td>
        </tr>
        <tr>
            <th>
                <div th:text="通貨"></div>
            </th>
            <td>
                <label>
                    <select onchange="calculateTax()" th:field="*{currencyId}">
                        <option th:each="currencyList : ${currencyLists}"
                                th:label="${currencyList.currencyName}"
                                th:value="${currencyList.currencyId}">
                        </option>
                    </select>
                </label>
            </td>
        </tr>
        <tr>
            <th>
                <div th:text="数量"></div>
            </th>
            <td>
                <label>
                    <input class="quantity"
                           onchange="calculateTax()" th:field="*{quantity}" type="number"/>
                </label>
            </td>
        </tr>
        <tr>
            <th>
                <div th:text="単位"></div>
            </th>
            <td>
                <label>
                    <select th:field="*{unitId}">
                        <option th:each="unit : ${units}"
                                th:label="${unit.unitName}"
                                th:value="${unit.unitId}">
                        </option>
                    </select>
                </label>
            </td>
        </tr>
        <tr>
            <th>
                <div th:text="税区分"></div>
            </th>
            <td>
                <label>
                    <select id="taxTypeId" name="taxTypeId"
                            onchange="calculateTax()" th:value="*{taxTypeId}">
                        <option th:each="taxType : ${taxTypes}"
                                th:label="${taxType.taxTypeName}"
                                th:value="${taxType.taxTypeId}">
                        </option>
                    </select>
                </label>
            </td>
        </tr>
        <tr>
            <th>
                <div th:text="税率"></div>
            </th>
            <td>
                <label>
                    <select onchange="calculateTax()" th:field="*{taxRateId}">
                        <option th:each="taxRate : ${taxRates}"
                                th:text="'__${taxRate.taxRate}__' + '%'"
                                th:value="${taxRate.taxRateId}">
                        </option>
                    </select>
                </label>
            </td>
        </tr>
        <tr>
            <th>
                <div th:text="消費税"></div>
            </th>
            <td>
                <label>
                    <input class="tax" th:field="*{tax}" type="number"/>
                </label>
            </td>
        </tr>
        <tr>
            <th>
                <div th:text="備考"></div>
            </th>
            <td>
                <label>
                    <input class="spec-memo" th:value="*{specMemo}"/>
                </label>
            </td>
        </tr>
    </table>
</form>
<div>
</div>

<input onclick="location.href='/top'" type="submit" value="メニュー画面"/>
<!-- <input onclick="goBackUrl()" type="submit" value="キャンセル"> -->
<input id="cancel" name="cancel" type="submit" value="キャンセル">
<input form="specDetail" type="submit" value="登　録">

<div th:object="${specificationGroupForm}">
    <input th:value="*{balanceTypeId}" type="hidden">
</div>

<script src="/js/createGroupAndDetail.js"></script>
<script th:inline="javascript">
    const cancelBtn = document.getElementById("cancel");

    cancelBtn.addEventListener("click", () => {
        const specificationGroupId = /*[[${specificationGroupId}]]*/"specificationGroupId";
        const userId = /*[[${userId}]]*/"userId";
        const accountAndBalanceId = /*[[${accountAndBalanceId}]]*/"accountAndBalanceId";
        console.log("accountAndBalanceId = " + accountAndBalanceId);
        const shopId = /*[[${shopId}]]*/"shopId";
        const balanceTypeId = /*[[${balanceTypeId}]]*/"balanceTypeId";
        const accountSourceId = /*[[${accountSourceId}]]*/"accountSourceId";
        const accountDestinationId = /*[[${accountDestinationId}]]*/"accountDestinationId";

        goBackUrl(accountAndBalanceId, shopId, balanceTypeId,
            accountSourceId, accountDestinationId);
    });
</script>
</body>
</html>