<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>入出金登録</title>
</head>
<body>
<form enctype="multipart/form-data" method="get"
      th:action="@{'/spec/confirm'}" th:object="${groupForm}">
    <table>
        <tr>
            <td>入出金日時</td>
            <td>
                <span>
                    <label for="receivingAndPaymentDate"></label>
                    <input id="receivingAndPaymentDate" name="receivingAndPaymentDate"
                           th:value="${groupForm.receivingAndPaymentDate}"
                           type="date">
                </span>
                <span>
                    <label for="receivingAndPaymentTime"></label>
                    <input id="receivingAndPaymentTime" name="receivingAndPaymentTime"
                           th:value="${groupForm.receivingAndPaymentTime}"
                           type="time">
                </span>
            </td>
        </tr>
        <tr th:object="${shopForm}">
            <td><label for="shopName">お店</label></td>
            <td>
                <input id="shopId" name="shopId" th:value="${shopForm.shopId}"
                       type="hidden">
                <input id="shopName" name="shopName" readonly
                       th:value="${shopForm.shopName}" type="text">
                <button form="searchShop">検索</button>
            </td>
        </tr>
        <tr>
            <td>入出金区分</td>
            <td>
                <label for="receivingAndPaymentType"></label>
                <select id="receivingAndPaymentType"
                        name="receivingAndPaymentType"
                        th:value="${groupForm.receivingAndPaymentType}">
                    <option value="1">出金</option>
                    <option value="2">入金</option>
                    <option value="3">振替</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>出金元</td>
            <td>
                <th:block th:if="${accountSource} ne null AND ${accountSourceForm} eq null">
                    <label for="accountSourceId"></label>
                    <input id="accountSourceId" name="accountSourceId"
                           th:value="${accountSource.accountId}"
                           type="text">
                    <label for="accountSourceName"></label>
                    <input id="accountSourceName" name="accountSourceName"
                           th:value="${accountSource.accountName}"
                           type="text">
                    <button form="searchAccountSource">検索</button>
                </th:block>
                <th:block th:if="${accountSource} eq null AND ${accountSourceForm.accountId} ne null">
                    <label for="accountSourceFormId"></label>
                    <input id="accountSourceFormId" name="accountSourceFormId"
                           th:value="${accountSourceForm.accountId}"
                           type="text">
                    <label for="accountSourceFormName"></label>
                    <input id="accountSourceFormName" name="accountSourceFormName"
                           th:value="${accountSourceForm.accountName}"
                           type="text">
                    <button form="searchAccountSourceForm">検索</button>
                </th:block>
                <th:block th:if="${accountSource} eq null AND ${accountSourceForm.accountId} eq null">
                    <label for="accountSourceFormIdNull"></label>
                    <input id="accountSourceFormIdNull" name="accountSourceFormIdNull"
                           th:value="0"
                           type="text">
                    <label for="accountSourceFormNameNull"></label>
                    <input id="accountSourceFormNameNull" name="accountSourceFormNameNull"
                           type="text">
                    <button form="searchAccountSourceFormNull">検索</button>
                </th:block>
            </td>
        </tr>
        <tr>
            <td>入金先</td>
            <td>
                <th:block th:if="${accountDestination} ne null AND ${accountDestinationForm} eq null">
                    <label for="accountDestinationId"></label>
                    <input id="accountDestinationId" name="accountDestinationId"
                           th:value="${accountDestination.accountId}"
                           type="text">
                    <label for="accountDestinationName"></label>
                    <input id="accountDestinationName" name="accountDestinationName"
                           th:value="${accountDestination.accountName}"
                           type="text">
                    <button form="searchAccountDestination">検索</button>
                </th:block>
                <th:block th:if="${accountDestination} eq null AND ${accountDestinationForm} ne null">
                    <label for="accountDestinationFormId"></label>
                    <input id="accountDestinationFormId" name="accountDestinationFormId"
                           th:value="${accountDestinationForm.accountId}"
                           type="text">
                    <label for="accountDestinationFormName"></label>
                    <input id="accountDestinationFormName" name="accountDestinationFormName"
                           th:value="${accountDestinationForm.accountName}"
                           type="text">
                    <button form="searchAccountDestinationForm">検索</button>
                </th:block>
                <th:block th:if="${accountDestination} eq null AND ${accountDestinationForm} eq null">
                    <label for="accountDestinationFormIdNull"></label>
                    <input id="accountDestinationFormIdNull" name="accountDestinationFormIdNull"
                           th:value="0"
                           type="text">
                    <label for="accountDestinationFormNameNull"></label>
                    <input id="accountDestinationFormNameNull" name="accountDestinationFormNameNull"
                           type="text">
                    <button form="searchAccountDestinationFormNull">検索</button>
                </th:block>
            </td>
        </tr>
        <tr>
            <td>備考</td>
            <td>
                <label for="memo"></label>
                <input id="memo" name="memo" th:value="${groupForm.memo}"
                       type="text">
            </td>
        </tr>
    </table>
    <input type="submit" value="登録">
</form>

<form id="searchShop" method="get"
      th:action="@{'/searchShop'}" th:object="${groupForm}">
</form>

<th:block th:if="${accountDestination} ne null AND ${accountDestinationForm} eq null">
    <form id="searchAccountSource"
          method="get"
          th:action="@{'/searchAccountSource/__${accountDestination.accountId}__/__${accountSource.accountId}__'}" th:object="${groupForm}">
    </form>
</th:block>
<th:block th:if="${accountDestination} eq null AND ${accountDestinationForm.accountId} ne null">
    <form id="searchAccountSourceForm"
          method="get"
          th:action="@{'/searchAccountSource/__${accountDestinationForm.accountId}__/__${accountSourceForm.accountId}__'}" th:object="${groupForm}">
    </form>
</th:block>
<th:block th:if="${accountDestination} eq null AND ${accountDestinationForm.accountId} eq null">
    <form id="searchAccountSourceFormNull"
          method="get"
          th:action="@{'/searchAccountSource/0/0'}" th:object="${groupForm}">
    </form>
</th:block>

<th:block th:if="${accountSource} ne null AND ${accountSourceForm} eq null">
    <form id="searchAccountDestination"
          method="get"
          th:action="@{'/searchAccountDestination/__${accountSource.accountId}__/__${accountDestination.accountId}__'}" th:object="${groupForm}">
    </form>
</th:block>
<th:block th:if="${accountSource} eq null AND ${accountSourceForm} ne null">
    <form id="searchAccountDestinationForm"
          method="get"
          th:action="@{'/searchAccountDestination/__${accountSourceForm.accountId}__/__${accountDestinationForm.accountId}__'}" th:object="${groupForm}">
    </form>
</th:block>
<th:block th:if="${accountSource} eq null AND ${accountSourceForm.accountId} eq null">
    <form id="searchAccountDestinationFormNull"
          method="get"
          th:action="@{'/searchAccountDestination/0/0'}" th:object="${groupForm}">
    </form>
</th:block>
</body>
</html>