<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>入出金登録</title>
    <link href="/css/common.css" rel="stylesheet">
    <script src="/js/common.js" type="text/javascript"></script>
</head>
<body>
<form id="updateGroup"
      th:action="@{'/spec/update/group/__${specificationGroupForm.specificationGroupId}__/__${specificationGroupForm.id}__'}"
      th:object="${specificationGroupForm}" method="POST">
    <div>
        <input id="specificationGroupId" name="specificationGroupId"
               th:value="${specificationGroupForm.specificationGroupId}"
               type="hidden">
        <input id="accountAndBalanceId" name="accountAndBalanceId"
               th:value="${specificationGroupForm.accountAndBalanceId}"
               type="hidden">
        <input id="id" name="id"
               th:value="${specificationGroupForm.id}" type="hidden">
    </div>

    <table>
        <tr>
            <td>入出金日時</td>
            <td>
                <span>
                    <label for="receivingAndPaymentDate"></label>
                    <input id="receivingAndPaymentDate" name="receivingAndPaymentDate"
                           th:value="${specificationGroupForm.receivingAndPaymentDate}"
                           onchange="changedReceivingAndPaymentDate()"
                           type="date">
                </span>
                <span>
                    <label for="receivingAndPaymentTime"></label>
                    <input id="receivingAndPaymentTime" name="receivingAndPaymentTime"
                           th:value="${specificationGroupForm.receivingAndPaymentTime}"
                           onchange="changedReceivingAndPaymentTime()"
                           type="time">
                </span>
            </td>
        </tr>
        <tr>
            <td><label for="shop">お店</label></td>
            <td th:object="${specificationGroupForm.shopId}">
                <th:block th:if="${specificationGroupForm.shopForm} ne null">
                    <input id="shopId" name="shopId"
                           readonly
                           th:value="${specificationGroupForm.shopId}" type="hidden">
                    <input form="dummy" id="shop" name="shop"
                           readonly
                           th:value="${shopForm.shopName}" type="text">
                </th:block>
                <th:block th:unless="${specificationGroupForm.shopForm} ne null">
                    <input id="shopId" name="shopId"
                           readonly th:value="1" type="hidden">
                    <input form="dummy" id="shop" name="shop"
                           readonly type="text">
                </th:block>
                <input form="searchShop" type="submit" value="検　索"/>
            </td>
        </tr>
        <tr>
            <td>入出金区分</td>
            <td>
                <label for="balanceTypeId"></label>
                <select id="balanceTypeId"
                        name="balanceTypeId"
                        onchange="changedBalanceType()"
                        th:value="${selectedBalanceTypeId}">
                    <option th:value="0">選択してください</option>
                    <option th:each="balanceType : ${balanceTypes}"
                            th:value="${balanceType.balanceTypeId}"
                            th:label="${balanceType.balanceTypeName}"
                            th:selected="${selectedBalanceTypeId} == ${balanceType.balanceTypeId}">
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td>出金元</td>
            <td th:object="${accountSourceForm}">
                <th:block th:if="${specificationGroupForm.accountAndBalanceForm.accountSourceId} ne null">
                    <input id="accountSourceId" name="accountSourceId"
                           th:value="${specificationGroupForm.accountAndBalanceForm.accountSourceId}"
                           type="hidden" readonly>
                    <label for="accountSourceName"></label>
                    <input id="accountSourceName" name="accountSourceName"
                           th:value="${accountSourceForm.accountName}"
                           type="text" readonly>
                </th:block>
                <th:block
                        th:unless="${specificationGroupForm.accountAndBalanceForm.accountSourceId} ne null">
                    <input id="accountSourceId" name="accountSourceId"
                           th:value="1" type="hidden" readonly>
                    <input id="accountSourceName" name="accountSourceName"
                           type="text" readonly>
                </th:block>
                <input form="searchAccountSource" id="accountSourceButton"
                       type="submit" value="検　索"/>
            </td>
        </tr>
        <tr>
            <td>入金先</td>
            <td th:object="${accountDestinationForm}">
                <th:block
                        th:if="${specificationGroupForm.accountAndBalanceForm.accountDestinationId} ne null">
                    <input id="accountDestinationId" name="accountDestinationId"
                           readonly
                           th:value="${specificationGroupForm.accountAndBalanceForm.accountDestinationId}"
                           type="hidden">
                    <label for="accountDestinationName"></label>
                    <input id="accountDestinationName" name="accountDestinationName"
                           th:value="${accountDestinationForm.accountName}"
                           type="text" readonly>
                </th:block>
                <th:block
                        th:unless="${specificationGroupForm.accountAndBalanceForm.accountDestinationId} ne null">
                    <input id="accountDestinationId" name="accountDestinationId"
                           readonly th:value="1" type="hidden">
                    <input id="accountDestinationName" name="accountDestinationName"
                           type="text" readonly>
                </th:block>
                <input form="searchAccountDestination" id="accountDestinationButton"
                       type="submit" value="検　索"/>
            </td>
        </tr>
        <tr>
            <td>合計</td>
            <td>
                <label for="totalAmount"></label>
                <input id="totalAmount" name="totalAmount"
                       th:value="${totalAmount}" readonly>
            </td>
        </tr>
        <tr>
            <td>備考</td>
            <td>
                <label for="groupMemo"></label>
                <textarea id="groupMemo" name="groupMemo"
                          th:field="*{groupMemo}"></textarea>
            </td>
        </tr>
    </table>
</form>
<table>
    <tr>
        <th>
            <hr>
            <div id="header" class="grid">
                <div class="brand-name"><input class="spec-header brand-name" th:value="商品名" readonly/></div>
                <div class="price"><input class="spec-header price" th:value="単価" readonly/></div>
                <div class="currency-name"><input class="spec-header currency-name-header" th:value="通貨" readonly/>
                </div>
                <div class="quantity"><input class="spec-header quantity" th:value="数量" readonly/></div>
                <div class="unit-name"><input class="spec-header unit-name-header" th:value="単位" readonly/></div>
                <div class="tax-type"><input class="spec-header tax-type" th:value="税区分" readonly/></div>
                <div class="tax-rate"><input class="spec-header tax-rate" th:value="税率" readonly/></div>
                <div class="tax"><input class="spec-header tax-header" th:value="消費税" readonly/></div>
                <div class="subtotal"><input class="spec-header subtotal" th:value="小計" readonly/></div>
                <div class="spec-memo"><input class="spec-header spec-memo" th:value="備考" readonly/></div>
            </div>
        </th>
    </tr>
    <tr th:each="specificationForm : ${specificationForms}">
        <td>
            <hr>
            <div class="grid">
                <div class="brand-name">
                    <input class="brand-name"
                           th:value="${specificationForm.name}" readonly/>
                </div>
                <div class="price">
                    <input class="price"
                           th:value="${specificationForm.price}"
                           readonly/>
                </div>
                <div class="currency-name" th:object="${specificationForm}">
                    <input id="currencyId" name="currencyId"
                           readonly
                           th:value="${specificationForm.currencyId}" type="hidden">
                    <label for="currencyName"></label>
                    <input id="currencyName" name="currencyName"
                           class="currency-name"
                           th:value="${specificationForm.currencyListForm.currencyName}"
                           type="text" readonly>
                </div>
                <div class="quantity">
                    <input class="quantity"
                           th:value="${specificationForm.quantity}"
                           readonly/>
                </div>
                <div class="unit-name" th:object="${specificationForm}">
                    <input id="unitId" name="unitId"
                           readonly
                           th:value="${specificationForm.unitId}" type="hidden">
                    <label for="unitName"></label>
                    <input id="unitName" name="unitName"
                           class="unit-name"
                           th:value="${specificationForm.unitForm.unitName}"
                           type="text" readonly>
                </div>
                <div class="tax-type" th:object="${specificationForm}">
                    <input id="taxTypeId" name="taxTypeId"
                           readonly
                           th:value="${specificationForm.taxTypeId}" type="hidden">
                    <label for="taxTypeName"></label>
                    <input id="taxTypeName" name="taxTypeName"
                           class="tax-type"
                           th:value="${specificationForm.taxTypeForm.taxTypeName}"
                           type="text" readonly>
                </div>
                <div class="tax-rate" th:object="${specificationForm}">
                    <input id="taxRateId" name="taxRateId"
                           readonly
                           th:value="${specificationForm.taxRateId}" type="hidden">
                    <label for="taxRateName"></label>
                    <input id="taxRateName" name="taxRateName"
                           class="tax-rate"
                           th:value="${specificationForm.taxRateForm.taxRate}"
                           type="text" readonly>
                </div>
                <div class="tax">
                    <input class="tax"
                           th:value="${specificationForm.tax}"
                           readonly/>
                </div>
                <div class="subtotal">
                    <th:block th:if="${specificationForm.taxTypeId} eq 1">
                        <input class="subtotal"
                               th:value="${specificationForm.price}
                                * ${specificationForm.quantity}
                                + ${specificationForm.tax}"
                               type="text"
                               th:with="total=${total}
                                + ${specificationForm.price}
                                * ${specificationForm.quantity}
                                + ${specificationForm.tax}"
                               readonly/>
                    </th:block>
                    <th:block th:unless="${specificationForm.taxTypeId} eq 1">
                        <input class="subtotal"
                               th:value="${specificationForm.price}
                                * ${specificationForm.quantity}"
                               type="text"
                               th:with="total=${total}
                                + ${specificationForm.price}
                                * ${specificationForm.quantity}"
                               readonly/>
                    </th:block>
                </div>
                <div class="spec-memo">
                    <input class="spec-memo"
                           th:value="${specificationForm.specMemo}"
                           readonly/>
                </div>
                <div class="deleted">
                    <input class="deleted"
                           th:value="${specificationForm.deleted}"
                           type="hidden" readonly/>
                </div>
                <hr>
            </div>
        </td>
        <td>
            <form th:id="'deleteDetail' + '__${specificationForm.specificationId}__'"
                  th:action="@{'/spec/delete/detail/__${specificationGroupForm.specificationGroupId}__/__${specificationForm.specificationId}__/__${specificationForm.id}__/__${specificationGroupForm.accountAndBalanceId}__/__${specificationGroupForm.shopId}__/__${specificationGroupForm.balanceTypeId}__/__${accountSourceForm.accountSourceId}__/__${accountDestinationForm.accountDestinationId}__'}"
                  method="POST">
                <input id="specificationId" name="specificationId"
                       th:value="${specificationForm.specificationId}"
                       type="hidden">
            </form>
            <form th:id="'specDetail' + '__${specificationForm.specificationId}__'"
                  th:action="@{'/spec/edit/detail/__${specificationGroupForm.specificationGroupId}__/__${specificationForm.specificationId}__/__${specificationForm.id}__/__${specificationGroupForm.accountAndBalanceId}__/__${specificationGroupForm.shopId}__/__${specificationGroupForm.balanceTypeId}__/__${accountSourceForm.accountSourceId}__/__${accountDestinationForm.accountDestinationId}__'}"
                  method="POST">
                <input id="delete" name="delete"
                       class="delete"
                       th:form="'deleteDetail' + '__${specificationForm.specificationId}__'"
                       type="submit" value="削　除">
                <input id="edit" name="edit"
                       class="edit"
                       th:form="'specDetail' + '__${specificationForm.specificationId}__'"
                       type="submit" value="編　集">
            </form>
        </td>
    </tr>
</table>

<input onclick="location.href='/top'" type="submit" value="メニュー画面"/>
<input form="createSpecDetail" type="submit" value="明細追加">
<input id="saveOrUpdateGroup" form="updateGroup" type="submit" value="登　録">

<input id="balanceTypeIdInput" name="balanceTypeIdInput"
       th:value="${specificationGroupForm.balanceTypeId}"
       type="hidden">

<form id="createSpecDetail"
      th:action="@{'/spec/create/detail/__${specificationGroupForm.specificationGroupId}__/__${specificationGroupForm.id}__/__${specificationGroupForm.accountAndBalanceId}__/__${specificationGroupForm.shopId}__/__${specificationGroupForm.balanceTypeId}__/__${accountSourceForm.accountSourceId}__/__${accountDestinationForm.accountDestinationId}__'}"
      method="POST">
</form>
<form id="searchShop"
      th:action="@{'/__${specificationGroupForm.specificationGroupId}__/__${specificationGroupForm.id}__/__${specificationGroupForm.accountAndBalanceId}__/__${specificationGroupForm.shopId}__/__${specificationGroupForm.balanceTypeId}__/__${accountSourceForm.accountSourceId}__/__${accountDestinationForm.accountDestinationId}__/searchShop'}"
      method="GET">
</form>
<form id="searchAccountSource"
      th:action="@{'/__${specificationGroupForm.specificationGroupId}__/__${specificationGroupForm.id}__/__${specificationGroupForm.accountAndBalanceId}__/__${specificationGroupForm.shopId}__/__${specificationGroupForm.balanceTypeId}__/__${accountSourceForm.accountSourceId}__/__${accountDestinationForm.accountDestinationId}__/searchAccountSource'}"
      method="GET">
</form>
<form id="searchAccountDestination"
      th:action="@{'/__${specificationGroupForm.specificationGroupId}__/__${specificationGroupForm.id}__/__${specificationGroupForm.accountAndBalanceId}__/__${specificationGroupForm.shopId}__/__${specificationGroupForm.balanceTypeId}__/__${accountSourceForm.accountSourceId}__/__${accountDestinationForm.accountDestinationId}__/searchAccountDestination'}"
      method="GET">
</form>

<form id="dummy"></form>
<script src="/js/createGroup.js"></script>
</body>
</html>