<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>入出金登録</title>
    <link href="/css/common.css" rel="stylesheet">
    <script src="/js/common.js"></script>
</head>
<body>
<table>
    <tr>
        <th>
            <span>入出金日時</span>
            <span>店舗</span>
            <span>入出金種別</span>
            <span>出金元</span>
            <span>入金先</span>
            <span>メモ</span>
        </th>
    </tr>
    <tr th:each="specificationGroupForm, stat : ${specificationGroupForms}">
        <td>
            <form th:id="'specGroup' + '__${specificationGroupForm.specificationGroupId}__'"
                  th:action="@{'/spec/edit/group/__${specificationGroupForm.specificationGroupId}__/__${specificationGroupForm.shopId}__/__${specificationGroupForm.balanceTypeId}__/__${specificationGroupForm.accountAndBalanceForm.accountSourceId}__/__${specificationGroupForm.accountAndBalanceForm.accountDestinationId}__'}"
                  th:object="${specificationGroupForm}" method="POST">
                <input id="accountAndBalanceId" name="accountAndBalanceId"
                       th:value="${specificationGroupForm.accountAndBalanceId}"
                       type="hidden">
                <input id="userId" name="userId"
                       th:value="${specificationGroupForm.userId}"
                       type="hidden" readonly>
                <span>
                    <label for="receivingAndPaymentDate"></label>
                    <input id="receivingAndPaymentDate" name="receivingAndPaymentDate"
                           th:value="${specificationGroupForm.receivingAndPaymentDate}"
                           onchange="changedReceivingAndPaymentDate()"
                           type="date" readonly>
                    <label for="receivingAndPaymentTime"></label>
                    <input id="receivingAndPaymentTime" name="receivingAndPaymentTime"
                           th:value="${specificationGroupForm.receivingAndPaymentTime}"
                           onchange="changedReceivingAndPaymentTime()"
                           type="time" readonly>
                </span>
                <span>
                    <label for="shop"></label>
                    <input id="shop" name="shop"
                           th:value="${specificationGroupForm.getShopForm().getShopName()}"
                           type="text" readonly>
                </span>
                <span>
                    <label for="balanceType"></label>
                    <input id="balanceType" name="balanceType"
                           th:value="${specificationGroupForm.getBalanceTypeForm().getBalanceTypeName()}"
                           type="text" readonly>
                </span>
                <span>
                    <label for="accountSource"></label>
                    <input id="accountSource" name="accountSource"
                           th:value="${specificationGroupForm.getAccountAndBalanceForm().getAccountSourceForm().accountName}"
                           type="text" readonly>
                </span>
                <span>
                    <label for="accountDestination"></label>
                    <input id="accountDestination" name="accountDestination"
                           th:value="${specificationGroupForm.getAccountAndBalanceForm().getAccountDestinationForm().getAccountName()}"
                           type="text" readonly>
                </span>
                <span>
                    <label for="groupMemo"></label>
                    <textarea id="groupMemo" name="groupMemo" th:inline="text"
                              readonly>[[${specificationGroupForm.groupMemo}]]</textarea>
                </span>
                <span>
                    <input id="delete" name="delete"
                           th:form="'deleteGroup' + '__${specificationGroupForm.specificationGroupId}__'" type="submit"
                           value="削　除">
                    <input id="edit" name="edit"
                           th:form="'specGroup' + '__${specificationGroupForm.specificationGroupId}__'" type="submit"
                           value="編　集">
                </span>
            </form>
            <form th:id="'deleteGroup' + '__${specificationGroupForm.specificationGroupId}__'"
                  th:action="@{'/spec/delete/group/__${specificationGroupForm.specificationGroupId}__'}"
                  th:object="${specificationGroupForm}"
                  method="POST">
                <input id="specificationGroupId" name="specificationGroupId"
                       th:value="${specificationGroupForm.specificationGroupId}"
                       type="hidden">
                <input id="userId" name="userId"
                       th:value="${specificationGroupForm.userId}"
                       type="hidden">

        </td>
    </tr>
</table>

<form id="list" th:action="@{'/spec'}" th:object="${specificationGroupForm}" method="get">
</form>
<form id="create" th:action="@{'/spec/create/group'}" th:object="${specificationGroupForm}" method="get">
</form>

<div>
    <input onclick="location.href='/top'" type="submit" value="トップ画面"/>
    <input form="list" type="submit" value="お買いもの・一覧画面"/>
    <button form="create" type="submit">追　加</button>
</div>
</body>
</html>