<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>入出金登録</title>
    <link href="/css/common.css" rel="stylesheet">
    <script src="/js/common.js" type="text/javascript"></script>
    <script src="/js/listSpecGroup.js" type="text/javascript"></script>
</head>
<body>
<table>
    <tr>
        <th>
            <span>入出金日時</span>
            <span>店舗</span>
            <span>入出金種別</span>
            <span>出金元</span>
            <span>入金先</span>
            <span>メモ</span>
        </th>
    </tr>
    <tr th:each="specificationGroupForm, stat : ${specificationGroupForms}">
        <td>
            <form th:action="@{'/spec/edit/group/__*{specificationGroupId}__/__*{userId}__/__*{accountAndBalanceId}__/__*{shopId}__/__*{balanceTypeId}__/__*{accountAndBalanceForm.accountSourceId}__/__*{accountAndBalanceForm.accountDestinationId}__'}"
                  th:id="'specGroup' + '__*{specificationGroupId}__'"
                  th:object="${specificationGroupForm}" method="POST">
                <input id="accountAndBalanceId" name="accountAndBalanceId" th:value="*{accountAndBalanceId}"
                       type="hidden"/>
                <input id="userId" name="userId" th:value="*{userId}" type="hidden"/>
                <span>
                    <label>
                        <input onchange="changedReceivingAndPaymentDate()"
                               readonly th:value="*{receivingAndPaymentDate}" type="date">
                    </label>
                    <label>
                        <input onchange="changedReceivingAndPaymentTime()"
                               readonly th:value="*{receivingAndPaymentTime}" type="time"/>
                    </label>
                </span>
                <span>
                    <label>
                        <input readonly th:value="*{shopForm.shopName}" type="text"/>
                    </label>
                </span>
                <span>
                    <label>
                        <input readonly
                               th:value="*{balanceTypeForm.balanceTypeName}" type="text">
                    </label>
                </span>
                <span>
                    <label>
                        <input readonly
                               th:value="*{accountAndBalanceForm.accountSourceForm.accountName}" type="text">
                    </label>
                </span>
                <span>
                    <label>
                        <input readonly
                               th:value="*{accountAndBalanceForm.accountDestinationForm.accountName}" type="text">
                    </label>
                </span>
                <span>
                    <label>
                        <input readonly th:value="*{groupMemo}"/>
                    </label>
                </span>
                <span>
                    <input id="delete" name="delete"
                           th:form="'deleteGroup' + '__${specificationGroupForm.specificationGroupId}__'" type="submit"
                           value="削　除">
                    <input id="edit" name="edit"
                           th:form="'specGroup' + '__${specificationGroupForm.specificationGroupId}__'" type="submit"
                           value="編　集">
                </span>
            </form>
            <form th:id="'deleteGroup' + '__${specificationGroupForm.specificationGroupId}__'"
                  th:action="@{'/spec/delete/group/__${specificationGroupForm.specificationGroupId}__/__${specificationGroupForm.userId}__'}"
                  method="POST" th:object="${specificationGroupForm}">
                <input name="specificationGroupId" th:value="*{specificationGroupId}" type="hidden">
                <input name="userId" th:value="*{userId}" type="hidden">
            </form>
        </td>
    </tr>
</table>

<form id="list" th:action="@{'/spec'}"
      method="GET" th:object="${specificationGroupForms}">
</form>
<form id="create"
      th:action="@{'/spec/create/group/' + '__${specificationGroupForms[0].userId}__'}"
      method="POST" th:object="${specificationGroupForms}">
</form>

<div>
    <input onclick="location.href='/top'" type="submit" value="メニュー画面"/>
    <input form="list" type="submit" value="お買いもの・一覧画面"/>
    <button form="create" type="submit">追　加</button>
</div>
</body>
</html>