<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>お店検索</title>
    <script src="/js/Shop.js"></script>
</head>
<body>
店名

<table>
    <tr th:each="shop : ${shops}">
        <td>
            accountAndBalanceId : [[${accountAndBalanceId}]]</br>
            [[${shop.shopId}]] : [[${shop.shopName}]]</br>
            [[${accountSourceId}]] : [[${accountDestinationId}]]</br>
            <th:block th:if="${shop.shopId} ne null">
                <th:block th:if="${accountSourceId} ne null">
                    <th:block th:if="${accountDestinationId} eq null">
                        <form method="get" th:action="@{
                            '/__${accountAndBalanceId}__' +
                            '/__${shop.shopId}__' +
                            '/__${accountSourceId}__' +
                            '/1' +
                            '/setShop'}" th:object="${shop}">
                            <label for="shopId"></label>
                            <input id="shopId" th:value="${shop.shopId}" type="hidden">
                            <input th:value="${shop.shopName}" type="submit"></input>
                        </form>
                    </th:block>
                    <th:block th:unless="${accountDestinationId} eq null">
                        <form method="get" th:action="@{
                            '/__${accountAndBalanceId}__' +
                            '/__${shop.shopId}__' +
                            '/__${accountSourceId}__' +
                            '/__${accountDestinationId}__' +
                            '/setShop'}" th:object="${shop}">
                            <label for="shopId"></label>
                            <input id="shopId" th:value="${shop.shopId}" type="hidden">
                            <input th:value="${shop.shopName}" type="submit"></input>
                        </form>
                    </th:block>
                </th:block>
                <th:block th:unless="${accountSourceId} ne null">
                    <th:block th:if="${accountDestinationId} ne null">
                        <form method="get" th:action="@{
                            '/__${accountAndBalanceId}__' +
                            '/__${shop.shopId}__' +
                            '/1' +
                            '/__${accountDestinationId}__' +
                            '/setShop'}" th:object="${shop}">
                            <label for="shopId"></label>
                            <input id="shopId" th:value="${shop.shopId}" type="hidden">
                            <input th:value="${shop.shopName}" type="submit"></input>
                        </form>
                    </th:block>
                    <th:block th:unless="${accountDestinationId} ne null">
                        <form method="get" th:action="@{
                            '/__${accountAndBalanceId}__' +
                            '/__${shop.shopId}__' +
                            '/1' +
                            '/1' +
                            '/setShop'}" th:object="${shop}">
                            <label for="shopId"></label>
                            <input id="shopId" th:value="${shop.shopId}" type="hidden">
                            <input th:value="${shop.shopName}" type="submit"></input>
                        </form>
                    </th:block>
                </th:block>
            </th:block>
        </td>
    </tr>
</table>
<form id="selectShop" method="get"
      th:action="@{'setShop'}" th:object="${shop}">
</form>
</body>
</html>