<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>お店検索</title>
</head>
<body>
店名
<table th:object="${shops}">
    <tr th:each="shop : ${shops}">
        <td>
            <form method="get" th:action="@{'setShop'}" th:object="${shop}">
                <label for="shopId"></label>
                <input id="shopId" name="shopId"
                       th:value="${shop.shopId}" type="hidden">
                <button type="submit">[[${shop.shopName}]]</button>
            </form>
        </td>
    </tr>
</table>
<form id="selectShop" method="get"
      th:action="@{'setShop'}" th:object="${shop}">
</form>
</body>
</html>