<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>お店検索</title>
    <script src="/js/showShopList.js"></script>
</head>
<body>
店名

<table>
    <tr>
        <td>
            <form enctype="multipart/form-data" id="accountSourceForm"
                  method="get" th:object="${accountSourceForm}">
                <label for="accountSourceId"></label>
                <input id="accountSourceId" name="accountSourceId"
                       th:value="accountSourceForm.accountSourceId"
                       type="text">
            </form>
            <form enctype="multipart/form-data" id="accountDestinationForm"
                  method="get" th:object="${accountDestinationForm}">
                <label for="accountDestinationId"></label>
                <input id="accountDestinationId" name="accountDestinationId"
                       th:value="accountDestinationForm.accountDestinationId"
                       type="text">
            </form>
        </td>
    </tr>
    <tr th:each="shop : ${shops}">
        <td>
            <form method="get" th:action="@{'setShop'}" th:object="${shop}">
                <label for="shopId"></label>
                <input id="shopId" name="shopId"
                       th:value="${shop.shopId}" type="hidden">
                <button type="submit">[[${shop.shopName}]]</button>
            </form>
        </td>
    </tr>
</table>
<form id="selectShop" method="get"
      th:action="@{'setShop'}" th:object="${shop}">
</form>
</body>
</html>